<div class="block_social">
  <ul class="list-inline mb-0">
    {% if settings.social_linkedin_link != blank %}
      <li class="list-inline-item">
        <a
          href="{{ settings.social_linkedin_link | escape }}"
          title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Linkedin' }}"
        >
          {% comment %} <i class="fa fa-linkedin" aria-hidden="true"></i> {% endcomment %}
          <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M1.92156 0C0.860641 0 0 0.834437 0 1.86245V24.1382C0 25.1663 0.860742 26 1.92156 26H24.0784C25.1398 26 26 25.1662 26 24.1379V1.86245C26 0.834437 25.1398 0 24.0784 0H1.92156ZM7.90094 10.0534V21.7586H4.01028V10.0534H7.90094ZM8.15738 6.43336C8.15738 7.55664 7.31289 8.45547 5.95642 8.45547L5.93093 8.45537C4.62514 8.45537 3.78096 7.55654 3.78096 6.43326C3.78096 5.28449 4.65063 4.41075 5.98222 4.41075C7.31289 4.41075 8.13199 5.28449 8.15738 6.43336ZM13.9448 21.7586H10.0545C10.0545 21.7586 10.1055 11.1519 10.0547 10.0538H13.9451V11.7106C14.4623 10.9132 15.3879 9.77893 17.4516 9.77893C20.0113 9.77893 21.9304 11.452 21.9304 15.0472V21.7586H18.0401V15.4973C18.0401 13.9236 17.4768 12.8503 16.0693 12.8503C14.9943 12.8503 14.3541 13.5741 14.073 14.2734C13.9702 14.5229 13.9448 14.8732 13.9448 15.2226V21.7586Z" fill="#006699"/>
          </svg>
        </a>
      </li>
    {% endif %}

    {% if settings.social_telegram_link != blank %}
      <li class="list-inline-item">
        <a
          href="{{ settings.social_telegram_link | escape }}"
          title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'telegram' }}"
        >
          {% comment %} <i class="fa fa-telegram" aria-hidden="true"></i> {% endcomment %}
          <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M26 13C26 20.1797 20.1797 26 13 26C5.82031 26 0 20.1797 0 13C0 5.82031 5.82031 0 13 0C20.1797 0 26 5.82031 26 13ZM14.2458 9.01099C12.0124 9.97567 5.57288 12.7153 5.57288 12.7153C4.04676 13.3327 4.94006 13.9114 4.94006 13.9114C4.94006 13.9114 6.24285 14.3745 7.35957 14.7217C8.47624 15.069 9.07182 14.6832 9.07182 14.6832C9.07182 14.6832 11.6774 12.9082 14.3202 11.0175C16.1813 9.70556 15.7347 10.786 15.288 11.249C14.3202 12.2523 12.7196 13.8343 11.3796 15.1076C10.7841 15.6479 11.0818 16.1109 11.3424 16.3424C12.1002 17.0071 13.885 18.216 14.6954 18.7648C14.9199 18.9169 15.0696 19.0183 15.1019 19.0434C15.288 19.1978 16.3303 19.8923 16.963 19.738C17.5958 19.5836 17.6703 18.6961 17.6703 18.6961C17.6703 18.6961 18.1542 15.5321 18.6008 12.6381C18.6836 12.0699 18.7663 11.5136 18.8434 10.9949C19.044 9.64665 19.2067 8.55223 19.2336 8.1621C19.3453 6.85019 18.0053 7.39036 18.0053 7.39036C18.0053 7.39036 15.1019 8.62516 14.2458 9.01099Z" fill="#34AADF"/>
          </svg>
        </a>
      </li>
    {% endif %}

    {% if settings.social_facebook_link != blank %}
      <li class="list-inline-item">
        <a
          href="{{ settings.social_facebook_link | escape }}"
          title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Facebook' }}"
        >
          {% comment %} <i class="fa fa-facebook" aria-hidden="true"></i> {% endcomment %}
          <svg width="15" height="26" viewBox="0 0 15 26" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M13.1213 14.6241L13.8622 9.92086H9.29826V6.86376C9.29826 5.57773 9.93543 4.32108 11.9729 4.32108H14.077V0.315998C12.8517 0.120771 11.6135 0.0151538 10.3726 0C6.61621 0 4.16384 2.25608 4.16384 6.33465V9.92086H0V14.6241H4.16384V26H9.29826V14.6241H13.1213Z" fill="#337FFF"/>
          </svg>
        </a>
      </li>
    {% endif %}

    {% if settings.social_pinterest_link != blank %}
      <li class="list-inline-item">
        <a
          href="{{ settings.social_pinterest_link | escape }}"
          title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Pinterest' }}"
        >
          <i class="fa fa-pinterest-p" aria-hidden="true"></i>
        </a>
      </li>
    {% endif %}

    {% if settings.social_instagram_link != blank %}
      <li class="list-inline-item">
        <a
          href="{{ settings.social_instagram_link | escape }}"
          title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Instagram' }}"
        >
          {% comment %} <i class="fa fa-instagram" aria-hidden="true"></i> {% endcomment %}
          <svg width="27" height="26" viewBox="0 0 27 26" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.74959 13C8.74959 10.6069 10.6902 8.66632 13.0848 8.66632C15.4794 8.66632 17.4211 10.6069 17.4211 13C17.4211 15.3931 15.4794 17.3337 13.0848 17.3337C10.6902 17.3337 8.74959 15.3931 8.74959 13ZM6.40548 13C6.40548 16.6868 9.39581 19.6753 13.0848 19.6753C16.7738 19.6753 19.7642 16.6868 19.7642 13C19.7642 9.3132 16.7738 6.32466 13.0848 6.32466C9.39581 6.32466 6.40548 9.3132 6.40548 13ZM18.4677 6.05998C18.4675 6.36852 18.559 6.67016 18.7304 6.92677C18.9018 7.18338 19.1455 7.38343 19.4307 7.50161C19.7159 7.6198 20.0297 7.65082 20.3325 7.59075C20.6353 7.53067 20.9135 7.38221 21.1319 7.16413C21.3503 6.94604 21.4991 6.66814 21.5594 6.36555C21.6198 6.06297 21.589 5.74929 21.471 5.46419C21.3529 5.17909 21.153 4.93537 20.8963 4.76385C20.6397 4.59234 20.3379 4.50072 20.0292 4.5006H20.0286C19.6148 4.50079 19.218 4.66513 18.9253 4.95751C18.6326 5.24989 18.468 5.64641 18.4677 6.05998ZM7.82968 23.5817C6.56147 23.524 5.87216 23.3128 5.41407 23.1345C4.80677 22.8982 4.37345 22.6168 3.91787 22.1621C3.46228 21.7074 3.18027 21.2748 2.94488 20.6678C2.76631 20.2102 2.55506 19.5211 2.49741 18.2537C2.43435 16.8834 2.42176 16.4717 2.42176 13.0001C2.42176 9.52848 2.43539 9.11799 2.49741 7.74654C2.55517 6.4791 2.76798 5.79134 2.94488 5.33239C3.18131 4.72545 3.4629 4.29239 3.91787 3.83708C4.37283 3.38177 4.80573 3.09993 5.41407 2.86468C5.87195 2.68622 6.56147 2.4751 7.82968 2.41748C9.2008 2.35446 9.61268 2.34187 13.0848 2.34187C16.557 2.34187 16.9693 2.3555 18.3415 2.41748C19.6097 2.4752 20.2979 2.68788 20.7571 2.86468C21.3644 3.09993 21.7978 3.38239 22.2533 3.83708C22.7089 4.29177 22.9899 4.72545 23.2263 5.33239C23.4049 5.78999 23.6161 6.4791 23.6738 7.74654C23.7369 9.11799 23.7495 9.52848 23.7495 13.0001C23.7495 16.4717 23.7369 16.8822 23.6738 18.2537C23.616 19.5211 23.4038 20.21 23.2263 20.6678C22.9899 21.2748 22.7083 21.7078 22.2533 22.1621C21.7984 22.6164 21.3644 22.8982 20.7571 23.1345C20.2993 23.313 19.6097 23.5241 18.3415 23.5817C16.9704 23.6447 16.5585 23.6573 13.0848 23.6573C9.61112 23.6573 9.20039 23.6447 7.82968 23.5817ZM7.72197 0.078728C6.33721 0.141752 5.39097 0.361192 4.56461 0.682552C3.7088 1.01442 2.98432 1.45964 2.26036 2.18202C1.5364 2.90441 1.09205 3.6296 0.759988 4.4849C0.438435 5.31128 0.218863 6.25643 0.155802 7.64036C0.0916992 9.02647 0.0770264 9.46962 0.0770264 13C0.0770264 16.5304 0.0916992 16.9735 0.155802 18.3596C0.218863 19.7437 0.438435 20.6887 0.759988 21.5151C1.09205 22.3699 1.5365 23.0959 2.26036 23.818C2.98422 24.54 3.7088 24.9846 4.56461 25.3174C5.39253 25.6388 6.33721 25.8582 7.72197 25.9213C9.10964 25.9843 9.55232 26 13.0848 26C16.6173 26 17.0607 25.9853 18.4477 25.9213C19.8325 25.8582 20.7782 25.6388 21.605 25.3174C22.4603 24.9846 23.1853 24.5404 23.9093 23.818C24.6333 23.0956 25.0767 22.3699 25.4097 21.5151C25.7312 20.6887 25.9518 19.7436 26.0138 18.3596C26.0769 16.9725 26.0916 16.5304 26.0916 13C26.0916 9.46962 26.0769 9.02647 26.0138 7.64036C25.9508 6.25633 25.7312 5.31076 25.4097 4.4849C25.0767 3.63012 24.6321 2.90555 23.9093 2.18202C23.1865 1.4585 22.4603 1.01442 21.6061 0.682552C20.7782 0.361192 19.8324 0.140712 18.4487 0.078728C17.0618 0.015704 16.6184 0 13.0859 0C9.55336 0 9.10964 0.014664 7.72197 0.078728Z" fill="url(#paint0_linear_59_724)"/>
            <defs>
            <linearGradient id="paint0_linear_59_724" x1="25.5916" y1="26" x2="-0.40841" y2="-0.0145554" gradientUnits="userSpaceOnUse">
            <stop stop-color="#FBE18A"/>
            <stop offset="0.21" stop-color="#FCBB45"/>
            <stop offset="0.38" stop-color="#F75274"/>
            <stop offset="0.52" stop-color="#D53692"/>
            <stop offset="0.74" stop-color="#8F39CE"/>
            <stop offset="1" stop-color="#5B4FE9"/>
            </linearGradient>
            </defs>
          </svg>
        </a>
      </li>
    {% endif %}

    {% if settings.social_twitter_link != blank %}
      <li class="list-inline-item">
        <a
          href="{{ settings.social_twitter_link | escape }}"
          title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Twitter' }}"
        >
          {% comment %} <i class="fa fa-twitter" aria-hidden="true"></i> {% endcomment %}
          <svg width="32" height="26" viewBox="0 0 32 26" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M31.4921 3.12332C30.4718 3.5624 29.3992 3.86816 28.3008 4.03303C28.8143 3.94499 29.57 3.02061 29.8708 2.64645C30.3277 2.08207 30.676 1.43779 30.8979 0.746331C30.8979 0.694976 30.9492 0.621612 30.8979 0.584931C30.872 0.570804 30.843 0.563401 30.8135 0.563401C30.784 0.563401 30.755 0.570804 30.7291 0.584931C29.5364 1.23084 28.2669 1.72382 26.9509 2.05221C26.905 2.06622 26.8562 2.06748 26.8097 2.05584C26.7631 2.04421 26.7206 2.02013 26.6868 1.98618C26.5843 1.8642 26.4741 1.74901 26.3566 1.64137C25.8198 1.16043 25.2108 0.766805 24.5519 0.474885C23.6624 0.109957 22.7016 -0.0480854 21.7421 0.0126934C20.811 0.0714928 19.902 0.321215 19.0716 0.746331C18.2539 1.19453 17.5352 1.80341 16.9587 2.53641C16.3524 3.29084 15.9146 4.16638 15.6749 5.10414C15.4772 5.99613 15.4548 6.91805 15.6088 7.8186C15.6088 7.97266 15.6088 7.99467 15.4768 7.97266C10.246 7.20234 5.95418 5.34624 2.44739 1.36259C2.29333 1.18651 2.21263 1.18651 2.08791 1.36259C0.561942 3.68088 1.30292 7.34907 3.21037 9.16115C3.46715 9.40325 3.73126 9.63802 4.01004 9.85811C3.13548 9.79602 2.28228 9.55902 1.501 9.16115C1.35427 9.06578 1.27357 9.11713 1.26623 9.29321C1.24544 9.53731 1.24544 9.78274 1.26623 10.0268C1.41931 11.1967 1.88035 12.3049 2.60219 13.2381C3.32403 14.1714 4.28078 14.8962 5.3746 15.3384C5.64125 15.4526 5.91909 15.5386 6.20361 15.5952C5.39399 15.7545 4.56362 15.7793 3.74593 15.6685C3.56986 15.6318 3.50383 15.7272 3.56986 15.8959C4.6483 18.8305 6.98861 19.7255 8.70532 20.2244C8.94008 20.2611 9.17485 20.2611 9.43896 20.3198C9.43896 20.3198 9.43895 20.3198 9.39494 20.3638C8.88873 21.2882 6.84188 21.9118 5.90282 22.2346C4.1888 22.8502 2.36134 23.0856 0.547269 22.9242C0.261151 22.8802 0.195123 22.8875 0.121759 22.9242C0.0483957 22.9609 0.121759 23.0416 0.20246 23.1149C0.569278 23.357 0.936097 23.5698 1.31759 23.7752C2.45329 24.3947 3.65396 24.8867 4.89774 25.2425C11.3391 27.0179 18.5874 25.712 23.4221 20.9067C27.2223 17.1358 28.5575 11.9343 28.5575 6.72548C28.5575 6.52739 28.7996 6.41001 28.939 6.3073C29.9005 5.55818 30.7481 4.67349 31.4554 3.68088C31.5779 3.53292 31.6407 3.34453 31.6315 3.15266C31.6315 3.04262 31.6315 3.06463 31.4921 3.12332Z" fill="#33CCFF"/>
          </svg>
        </a>
      </li>
    {% endif %}

    {% if settings.social_youtube_link != blank %}
      <li class="list-inline-item">
        <a
          href="{{ settings.social_youtube_link | escape }}"
          title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'YouTube' }}"
        >
          <i class="fa fa-youtube-play" aria-hidden="true"></i>
        </a>
      </li>
    {% endif %}

    {% if settings.social_dribbble_link != blank %}
      <li class="list-inline-item">
        <a
          href="{{ settings.social_dribbble_link | escape }}"
          title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Dribbble' }}"
        >
          <i class="fa fa-dribbble" aria-hidden="true"></i>
        </a>
      </li>
    {% endif %}

    {% if settings.social_tumblr_link != blank %}
      <li class="list-inline-item">
        <a
          href="{{ settings.social_tumblr_link | escape }}"
          title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Tumblr' }}"
        >
          <i class="fa fa-tumblr" aria-hidden="true"></i>
        </a>
      </li>
    {% endif %}

    {% if settings.social_google_link != blank %}
      <li class="list-inline-item">
        <a
          href="{{ settings.social_google_link | escape }}"
          title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Google' }}"
        >
          <i class="fa fa-google-plus" aria-hidden="true"></i>
        </a>
      </li>
    {% endif %}

    {% if settings.social_snapchat_link != blank %}
      <li class="list-inline-item">
        <a
          href="{{ settings.social_snapchat_link | escape }}"
          title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Snapchat' }}"
        >
          <i class="fa fa-snapchat-ghost" aria-hidden="true"></i>
        </a>
      </li>
    {% endif %}
  </ul>
</div>
