{% if linklists[child_list_handle].links != blank %}
  <li class="site-nav--has-dropdown icon_menu{% if link.active %} site-nav--active{% endif %}{{ class_hidden }}" aria-controls="SiteNavLabel-{{ child_list_handle }}">
    <a href="{{ link.url }}" class="site-nav__link site-nav__link--main" title="{{ link.title }}">
      {% if block.settings.icon_menus != blank %}
        <div class="icon_nav">
          <img class="img-fluid" src="{{ block.settings.icon_menus | img_url: '50x' }}" alt="" />
        </div>
      {% endif %}
      <span class="show_sub d-none d-md-block d-lg-none"><i class="zmdi zmdi-chevron-down"></i></span>
      <div class="group_title">{{ link.title }}</div>
    </a>
    <div class="site-nav__dropdown">
      {% if three_level_nav %}
        {% if linklists[child_list_handle].links != blank %}
          <ul>
            {% for childlink in linklists[child_list_handle].links %}
              {% assign grand_child_list_handle = childlink.title | handle %}
              <li class="site-nav__childlist-item{% if linklists[grand_child_list_handle].links != blank %} nav-children-has-dropdown{% endif %}">
                <a href="{{ childlink.url }}" class="site-nav__link site-nav__child-link{% if linklists[grand_child_list_handle].links != blank %} site-nav__child-link--parent position-relative{% endif %}">
                  <span>{{ childlink.title | escape }}</span>
                  {% if linklists[grand_child_list_handle].links != blank %}
                    <span class="show_sub d-none d-md-block d-lg-none"><i class="zmdi zmdi-chevron-down"></i></span>
                  {% endif %}
                </a>
                {% if linklists[grand_child_list_handle].links != blank %}
                  <div class="site-nav__dropdown-children">
                    <ul>
                      {% for grandchildlink in linklists[grand_child_list_handle].links %}
                        <li><a href="{{ grandchildlink.url }}" class="site-nav__link site-nav__child-link">{{ grandchildlink.title | escape }}</a></li>
                      {% endfor %}
                    </ul>
                  </div>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      {% else %}
        <ul>
          {% for childlink in linklists[child_list_handle].links %}
            <li {% if childlink.active %}class="site-nav--active"{% endif %}>
              <a href="{{ childlink.url }}" class="site-nav__link site-nav__child-link{% if forloop.last %} site-nav__link--last{% endif %}">{{ childlink.title | escape }}</a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </li>
{% else %}
  <li class="icon_menu{% if link.active %} site-nav--active{% endif %}{{ class_hidden }}">
    <a href="{{ link.url }}" class="site-nav__link site-nav__link--main" title="{{ link.title }}">
      {% if block.settings.icon_menus != blank %}
        <div class="icon_nav">
          <img class="img-fluid" src="{{ block.settings.icon_menus | img_url: '50x' }}" alt="" />
        </div>
      {% endif %}
      <div class="group_title">{{ link.title }}</div>
    </a>
  </li>
{% endif %}