<div class="overlay overlay-search">
  <span class="site-overlay__close d-flex"><i class="zmdi zmdi-close"></i></span>
  <div class="site-overlay__search site-header__search">
    <form action="/search" method="get" class="search-header-inline" role="search">
      <div class="search-container-inner position-relative">
        <input type="hidden" name="type" value="product">
        <input class="search-header__input"
          type="search"
          name="q"
          placeholder="{{ 'general.search.placeholder' | t }}"
          aria-label="{{ 'general.search.title' | t }}">
        <button class="search-header__submit text-center btn--link d-flex align-items-center" type="submit">
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
      </div>
      {% if settings.show_key_trend == true %}
        <div class="search_trend d-flex align-items-center mt-10">
          <strong class="color_heading">{{ 'general.search.search_trend' | t }}:</strong>
          <ul class="d-flex">
            {% if settings.key_trend_1 != blank %}
              <li><a href="/search?type=product&q={{ settings.key_trend_1 }}">{{ settings.key_trend_1 }}</a></li>
            {% endif %}
            {% if settings.key_trend_2 != blank %}
              <li><a href="/search?type=product&q={{ settings.key_trend_2 }}">{{ settings.key_trend_2 }}</a></li>
            {% endif %}
            {% if settings.key_trend_3 != blank %}
              <li><a href="/search?type=product&q={{ settings.key_trend_3 }}">{{ settings.key_trend_3 }}</a></li>
            {% endif %}
            {% if settings.key_trend_4 != blank %}
              <li><a href="/search?type=product&q={{ settings.key_trend_4 }}">{{ settings.key_trend_4 }}</a></li>
            {% endif %}
            {% if settings.key_trend_5 != blank %}
              <li><a href="/search?type=product&q={{ settings.key_trend_5 }}">{{ settings.key_trend_5 }}</a></li>
            {% endif %}
          </ul>
        </div>
      {% endif %}
      {% include 'nov-search-autocomplete' %}
    </form>
  </div>
</div>