{%- style -%}
  #shopify-section-announcement-bar .announcement-bar {
    background-color: {{ section.settings.background_color }};
  }
{%- endstyle -%}

{%- for block in section.blocks -%}
  <div class="announcement-bar">
    <div class="page-width">
      {%- if block.settings.text1 != blank or block.settings.text2 != blank -%}
        <div class="announcement-bar__message text_align-center">
          <div class="announcement-bar__text1" style="color: {{ block.settings.text1_color }};">
            {{ block.settings.text1 }}&nbsp
          </div>
          <div class="announcement-bar__text2" style="color: {{ block.settings.text2_color }};">
            {{ block.settings.text2 }}
          </div>
        </div>
      {%- endif %}
    </div>
  </div>
{%- endfor -%}

{% schema %}
{
  "name": "Announcement bar",
  "max_blocks": 12,
  "blocks": [
    {
      "type": "announcement",
      "name": "Announcement",
      "settings": [
        {
          "type": "header",
          "content": "Text settings"
        },
        {
          "type": "richtext",
          "id": "text1",
          "label": "Text1"
        },
        {
          "type": "color",
          "id": "text1_color",
          "default": "#fff",
          "label": "Font color"
        },
        {
          "type": "header",
          "content": "Text settings"
        },
        {
          "type": "richtext",
          "id": "text2",
          "label": "Text2"
        },
        {
          "type": "color",
          "id": "text2_color",
          "default": "#fff",
          "label": "Font color"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "color",
      "id": "background_color",
      "default": "#fff",
      "label": "Background color"
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "announcement"
      }
    ]
  }
}
{% endschema %}
