<div class="distance{% if section.settings.class != blank %} {{ section.settings.class }}{% endif %}">
  {% if section.settings.has_fullwidth == false %}
    <div class="container">
  {% else %}
    <div class="container-fluid">
  {% endif %}
    {% if section.settings.heading != blank %}
      <div class="title_section {{ section.settings.title_alignment }}">
        <span class="title" style="color: {{ section.settings.heading_c }};">{{ section.settings.heading }}</span>
        {% if section.settings.subheading != blank %}
          <span class="sub_title" style="color: {{ section.settings.subheading_c }};">{{ section.settings.subheading }}</span>
        {% endif %}
      </div>
    {% endif %}
    <div class="row align-items-md-center">
      <div class="block-text_left col-md-4 col-sm-6 order-1 order-md-0 mb-xs-30">
        {% for block in section.blocks %}
          {% if block.type == 'text_left' %}
            <div class="block d-flex{% if block.settings.class != blank %} {{ block.settings.class }}{% endif %}">
              {% if section.settings.icon != blank %}
                <div class="b_img text-center d-inline-block">
                  <img src="{{ section.settings.icon | img_url: '55x' }}" alt="{{ block.settings.icon.alt }}">
                </div>
              {% endif %}
              <div class="b_text">
                {% if block.settings.t1 != blank %}<div class="title-item font-700 mb-5">{{ block.settings.t1 }}</div>{% endif %}
                {% if block.settings.d1 != blank %}<div class="desc">{{ block.settings.d1 }}</div>{% endif %}
              </div>
            </div>
          {% endif %}
        {% endfor %}      
      </div>
      <div class="block_img col-md-4 mb-sm-30">
        <div class="p-5 pt-0 pb-0">
          {% if section.settings.image != blank %}
            <div class="respone_image" style="padding-top:{{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100}}%;">
              {% assign img_url = section.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
              <img class="article__list-image lazyload"
                src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1'%3E%3C/svg%3E"
                data-src="{{ img_url }}"
                data-widths="[360, 540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
                data-aspectratio="{{ section.settings.image.aspect_ratio }}"
                data-sizes="auto"
                alt="">
            </div>
          {% else %}
            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
          {% endif %}
        </div>
      </div>
      <div class="block-text_right col-md-4 col-sm-6 order-2 order-md-3">
        {% for block in section.blocks %}
          {% if block.type == 'text_right' %}
            <div class="block d-flex{% if block.settings.class != blank %} {{ block.settings.class }}{% endif %}">
              {% if section.settings.icon != blank %}
                <div class="b_img text-center d-inline-block">
                  <img src="{{ section.settings.icon | img_url: '55x' }}" alt="{{ block.settings.icon.alt }}">
                </div>
              {% endif %}
              <div class="b_text">
                {% if block.settings.t1 != blank %}<div class="title-item font-700 mb-5">{{ block.settings.t1 }}</div>{% endif %}
                {% if block.settings.d1 != blank %}<div class="desc">{{ block.settings.d1 }}</div>{% endif %}
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Vinova Image Width Text",
    "class": "index-section section-text-img-text wow fadeInUp animated",
    "settings": [
      {
        "type": "richtext",
        "id": "heading",
        "label": "Heading",
        "default": "<p>Vinova Image With Text</p>"
      },
      {
        "type": "color",
        "id": "heading_c",
        "label": "Heading color",
        "default": "#222222"
      },
      {
        "type": "richtext",
        "id": "subheading",
        "label": "Sub heading",
        "default": "<p>Subtitle from happy customers</p>"
      },
      {
        "type": "color",
        "id": "subheading_c",
        "label": "Sub heading color",
        "default": "#666666"
      },
      {
        "type": "select",
        "id": "title_alignment",
        "label": "Heading alignment",
        "default": "text-left",
        "options": [
          {
            "value": "text-left",
            "label": "Left"
          },
          {
            "value": "text-center",
            "label": "Center"
          },
          {
            "value": "text-right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type":  "header",
        "content": "Design option"
      },
      {
        "type": "image_picker",
        "id": "icon",
        "label": "Icon text item"
      },
      {
        "type": "color",
        "id": "tt_c",
        "label": "Title text color",
        "default": "#222222"
      },
      {
        "type": "color",
        "id": "desc_c",
        "label": "Description color",
        "default": "#222222"
      },
      {
        "type": "checkbox",
        "id": "has_fullwidth",
        "label": "Full width",
        "default":   false
      },
      {
        "type": "color",
        "id": "background_color",
        "label": "Background colors"
      },
      {
        "type": "image_picker",
        "id": "background_image",
        "label": "Background image"
      },
      {
        "type": "select",
        "id": "bg_p",
        "label": "Background position",
        "default": "center",
        "options": [
          {"value": "top left", "label": "Top Left"},
          {"value": "top center", "label": "Top Center"},
          {"value": "top right", "label": "Top Right"},
          {"value": "center left", "label": "Center Left"},
          {"value": "center", "label": "Center"},
          {"value": "center right", "label": "Center Right"},
          {"value": "bottom left", "label": "Bottom Left"},
          {"value": "bottom center", "label": "Bottom Center"},
          {"value": "bottom right", "label": "Bottom Right"}
        ]
      },
      {
        "type": "text",
        "id": "class",
        "label": "Class"
      },
      {
        "type": "number",
        "id": "distance_top",
        "label": "Top spacing section (px)",
        "default": 30
      },
      {
        "type": "number",
        "id": "distance_bottom",
        "label": "Bottom spacing section (px)",
        "default": 30
      }
    ],
    "blocks": [
      {
        "type": "text_left",
        "name": "Block Text Left",
        "settings": [
          {
            "type": "text",
            "id": "t1",
            "label": "Title",
            "default": "Lorem ipsum dolor"
          },
          {
            "type": "richtext",
            "id": "d1",
            "label": "Description",
            "default": "<p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>"
          },
          {
            "type": "text",
            "id": "class",
            "label": "Class"
          }
        ]
      },
      {
        "type": "text_right",
        "name": "Block Text Right",
        "settings": [
          {
            "type": "text",
            "id": "t1",
            "label": "Title",
            "default": "Lorem ipsum dolor"
          },
          {
            "type": "richtext",
            "id": "d1",
            "label": "Description",
            "default": "<p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>"
          },
          {
            "type": "text",
            "id": "class",
            "label": "Class"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Vinova Text - Images - Text"
      }
    ]
  }
{% endschema %}
<style>
  #shopify-section-{{ section.id }} .distance {
    padding-top: {{ section.settings.distance_top }}px;
    padding-bottom: {{ section.settings.distance_bottom }}px;
    {% if section.settings.background_color != blank %}
      background-color: {{ section.settings.background_color }};
    {% endif %}
    {%- assign bg_image = section.settings.background_image -%}
    {% if bg_image.src != blank %}
      background-image: url("{{ bg_image | img_url: '1920x' }}");background-position: {{ section.settings.bg_p }};background-repeat: no-repeat;background-size: cover;
    {% endif %}
  }
  #shopify-section-{{ section.id }} .title-item {
    color: {{ section.settings.tt_c }};
  }
  #shopify-section-{{ section.id }} .desc {
    color: {{ section.settings.desc_c }};
  }
</style>