<div data-section-id="{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="nov-slick">
  <header class="site-header{% if section.settings.stickymenu == true %} sticky-menu{% endif %}">
    <div class="header-mobile d-md-none">
      <div class="d-flex align-items-center">
        {% if section.settings.vertical_menu %}
          <div class="btn_ver color_heading">
            <i class="zmdi zmdi-sort-amount-asc"></i>
          </div>
        {% endif %}
        <div class="mobile_logo">
          {% if section.settings.logo_mobile %}
            <a href="/" class="site-header__logo-image img-fluid">
              {%- assign image_size = section.settings.wm_logo | append: 'x' -%}
              <img
                srcset="{{ section.settings.logo_mobile | img_url: image_size }} 1x, {{ section.settings.logo_mobile | img_url: image_size, scale: 2 }} 2x"
                src="{{ section.settings.logo_mobile | img_url: image_size }}"
                loading="lazy"
                width="{{ section.settings.logo_mobile.width }}"
                height="{{ section.settings.logo_mobile.height }}"
                alt="{{ section.settings.logo_mobile.alt | default: shop.name | escape }}"
                style="height: auto"
              >
            </a>
          {% else %}
            {% comment %} <a class="site-header__logo-link" href="/" itemprop="url">{{ shop.name }}</a> {% endcomment %}
            <a href="/" class="site-header__logo-link d-inline-block img-fluid position-relative">
              <svg width="89" height="110" viewBox="0 0 89 110" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6.88315 78.8157H10.2845V93.7129H6.88315L3.40132 86.5289V93.7129H0V78.8157H3.40132H3.42145L6.88315 86.305V78.8157Z" fill="white"/>
                <path d="M21.8957 93.6925L21.4731 92.0644H16.3409L15.9182 93.6925H12.3962L16.361 78.8157H21.4529L25.4178 93.6925H21.8957ZM17.1258 89.1542H20.6881L18.8969 82.4383L17.1258 89.1542Z" fill="white"/>
                <path d="M36.1897 78.8157V81.8481H33.0098V93.7129H29.6084V81.8481H26.4285V78.8157H36.1897Z" fill="white"/>
                <path d="M48.4726 89.7037C48.4458 90.2871 48.3183 90.8365 48.0902 91.3521C47.8756 91.8677 47.5603 92.3154 47.1443 92.6953C46.7284 93.0752 46.2252 93.3805 45.6348 93.6111C45.0445 93.8282 44.3669 93.9367 43.6021 93.9367H43.1191C42.3274 93.9367 41.623 93.8214 41.0058 93.5907C40.402 93.3465 39.8922 93.0209 39.4762 92.6139C39.0737 92.2069 38.7651 91.732 38.5504 91.1893C38.3358 90.6466 38.2284 90.07 38.2284 89.4594V78.8157H41.5895L41.6096 89.4594C41.6096 89.663 41.6499 89.8597 41.7304 90.0496C41.8109 90.226 41.9182 90.3888 42.0524 90.5381C42.2 90.6737 42.361 90.7823 42.5354 90.8637C42.7233 90.9451 42.9178 90.9858 43.1191 90.9858H43.6021C43.8034 90.9858 43.9912 90.9451 44.1656 90.8637C44.3535 90.7823 44.5145 90.6737 44.6487 90.5381C44.7963 90.3888 44.9103 90.226 44.9908 90.0496C45.0713 89.8597 45.1116 89.663 45.1116 89.4594V78.8157H48.4928V89.7037H48.4726Z" fill="white"/>
                <path d="M56.6418 90.4363H55.1122V93.7129H51.7109V78.8157H52.7575H57.0645C57.7622 78.775 58.3995 78.8632 58.9765 79.0803C59.5668 79.2838 60.0767 79.5823 60.5061 79.9758C60.9354 80.3692 61.2708 80.8305 61.5124 81.3596C61.7673 81.8888 61.9149 82.445 61.9551 83.0284V85.959C61.9551 86.6781 61.8008 87.3497 61.4922 87.9738C61.197 88.5843 60.7677 89.0999 60.2042 89.5205L62.5992 93.7129H58.6746L56.6418 90.4363ZM58.5941 83.2727C58.5941 83.0691 58.5471 82.8792 58.4532 82.7028C58.3727 82.5129 58.2586 82.3501 58.111 82.2144C57.9769 82.0651 57.8158 81.9498 57.628 81.8684C57.4536 81.787 57.2657 81.7463 57.0645 81.7463H55.1122V87.4854H57.0645C57.467 87.4854 57.8226 87.3361 58.1312 87.0376C58.4398 86.7256 58.5941 86.366 58.5941 85.959V83.2727Z" fill="white"/>
                <path d="M72.8612 81.7463H67.7894V84.6362H71.9756V87.5668H67.7894V90.7619H72.8612V93.7129H64.388V78.8157H65.4346H67.7894H72.8612V81.7463Z" fill="white"/>
                <path d="M77.7333 79.4059C77.6125 79.8808 77.4582 80.3963 77.2704 80.9526C77.0825 81.5089 76.8745 82.0651 76.6465 82.6214C76.4318 83.1641 76.2171 83.6797 76.0024 84.1681H74.6942C74.7881 83.7882 74.8821 83.3812 74.976 82.947C75.0833 82.5129 75.1772 82.0787 75.2577 81.6446C75.3517 81.1968 75.4322 80.7627 75.4993 80.3421C75.5798 79.9215 75.6469 79.5348 75.7005 79.1821H77.5924L77.7333 79.4059Z" fill="white"/>
                <path d="M84.371 84.6362C85.015 84.6362 85.6121 84.7583 86.1622 85.0025C86.7257 85.2467 87.2155 85.5791 87.6314 85.9997C88.0608 86.4203 88.3962 86.9155 88.6377 87.4854C88.8792 88.0416 89 88.6454 89 89.2966C89 89.9343 88.8792 90.5381 88.6377 91.1079C88.3962 91.6777 88.0608 92.1729 87.6314 92.5935C87.2155 93.0141 86.7257 93.3465 86.1622 93.5907C85.6121 93.835 85.015 93.9571 84.371 93.9571H83.3445C82.7005 93.9571 82.0967 93.835 81.5332 93.5907C80.9831 93.3465 80.5 93.0141 80.0841 92.5935C79.6682 92.1729 79.3394 91.6777 79.0979 91.1079C78.8564 90.5381 78.7356 89.9343 78.7356 89.2966H81.8351C81.8351 89.7172 81.976 90.0768 82.2577 90.3752C82.5529 90.6737 82.9152 90.823 83.3445 90.823H84.371C84.8003 90.823 85.1626 90.6737 85.4578 90.3752C85.753 90.0768 85.9006 89.7172 85.9006 89.2966C85.9006 88.8625 85.753 88.4961 85.4578 88.1977C85.1626 87.8992 84.8003 87.7499 84.371 87.7499H83.3445C82.7005 87.7499 82.0967 87.6414 81.5332 87.4243C80.9831 87.1937 80.5 86.8816 80.0841 86.4882C79.6682 86.0947 79.3394 85.6266 79.0979 85.0839C78.8564 84.5412 78.7356 83.9442 78.7356 83.293C78.7356 82.6553 78.8564 82.0516 79.0979 81.4817C79.3394 80.9119 79.6682 80.4167 80.0841 79.9961C80.5 79.5755 80.9831 79.2431 81.5332 78.9989C82.0967 78.7547 82.7005 78.6326 83.3445 78.6326H84.371C85.015 78.6326 85.6121 78.7547 86.1622 78.9989C86.7257 79.2431 87.2155 79.5755 87.6314 79.9961C88.0608 80.4167 88.3962 80.9119 88.6377 81.4817C88.8792 82.0516 89 82.6553 89 83.293H85.9006C85.9006 82.8724 85.753 82.5129 85.4578 82.2144C85.1626 81.9159 84.8003 81.7667 84.371 81.7667H83.3445C82.9152 81.7667 82.5529 81.9159 82.2577 82.2144C81.976 82.5129 81.8351 82.8724 81.8351 83.293C81.8351 83.7272 81.976 84.0596 82.2577 84.2902C82.5529 84.5209 82.9152 84.6362 83.3445 84.6362H84.371Z" fill="white"/>
                <path d="M27.4067 99.5566V100.284C27.4067 100.669 27.7425 100.997 28.1366 100.997C28.3848 100.997 28.6329 100.997 28.8811 100.997V109.282H29.6694C30.0051 109.282 30.3555 108.954 30.3555 108.612C30.3555 108.412 30.3555 103.507 30.3555 100.997C30.6036 100.997 30.8518 100.997 31.1 100.997C31.5087 100.997 31.8444 100.669 31.8444 100.284V99.5566C30.3555 99.5566 28.8811 99.5566 27.4067 99.5566Z" fill="white"/>
                <path d="M39.4385 99.5566C38.8838 99.5566 38.3437 99.5566 37.8036 99.5566C37.2197 102.794 36.6358 106.045 36.0519 109.282H36.9277C37.2489 109.282 37.5846 109.068 37.643 108.74C37.6576 108.683 37.7306 108.284 37.8328 107.685H39.3947C39.5115 108.284 39.5845 108.683 39.5991 108.74C39.6575 109.068 40.0079 109.282 40.2998 109.282H41.1903C40.6064 106.045 40.0224 102.794 39.4385 99.5566ZM38.0956 106.244C38.1831 105.774 38.2707 105.275 38.3729 104.761C38.3875 104.676 38.4021 104.576 38.4167 104.491L38.6211 103.364L38.8254 104.491C38.84 104.576 38.8546 104.676 38.8692 104.761C38.9714 105.275 39.059 105.774 39.1466 106.244H38.0956Z" fill="white"/>
                <path d="M50.324 107.842C49.6087 107.842 48.8204 107.842 48.1051 107.842C48.1051 105.332 48.1051 100.412 48.1051 100.213C48.1051 99.8846 47.7548 99.5566 47.419 99.5566H46.6308C46.6308 102.794 46.6308 106.031 46.6308 109.282H51.0685V108.555C51.0685 108.155 50.7327 107.842 50.324 107.842Z" fill="white"/>
                <path d="M59.9636 107.842C59.2483 107.842 58.46 107.842 57.7447 107.842V105.146H60.3431V103.692H57.7447V100.997C58.46 100.997 59.1899 100.997 59.9052 100.997H59.9636C60.3723 100.997 60.7081 100.669 60.7081 100.284C60.7081 100.041 60.7081 99.7991 60.7081 99.5566C59.2191 99.5566 57.7447 99.5566 56.2704 99.5566C56.2704 102.794 56.2704 106.045 56.2704 109.282C57.7447 109.282 59.2191 109.282 60.7081 109.282C60.7081 109.039 60.7081 108.797 60.7081 108.555C60.7081 108.155 60.3723 107.842 59.9636 107.842Z" fill="white"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M25.5127 57.6112C34.7244 70.5607 54.8898 69.6841 63.5327 57.6112C73.9922 43.0008 65.7409 23.2405 44.4397 0C25.5127 20.5873 14.0566 41.5066 25.5127 57.6112ZM44.1076 11.954C44.1076 11.954 39.8177 7.59032 39.8639 7.24802C39.9909 6.30709 42.0122 4.10798 43.5394 2.4464L43.5397 2.44603L43.5408 2.44488L43.541 2.44462L43.5414 2.44421L43.5415 2.44411L43.5422 2.4433L43.5435 2.44199C43.7416 2.2264 43.9314 2.0199 44.1076 1.82642V11.954ZM45.0985 17.9186L44.9377 1.82642C47.7923 5.44256 49.1474 7.75094 50.7486 11.954L45.0985 17.9186ZM36.2399 16.912L44.1076 24.5626V13.4483L39.6249 8.30145C38.2493 11.0987 37.6707 12.776 36.8212 15.2382C36.6427 15.7556 36.4522 16.3076 36.2399 16.912ZM45.0985 30.6025V19.3279L51.2467 12.9502C52.5987 16.386 53.0769 18.2718 53.5711 21.5836L45.0985 30.6025ZM34.8101 30.881L44.1076 38.8503V26.0663L35.8062 18.097C34.3687 21.9623 34.2991 24.9114 34.8101 30.881ZM45.0985 44.3292V32.2093L53.9031 22.9118C54.4807 29.7678 54.1272 33.2124 52.0769 38.5183L45.0985 44.3292ZM38.8737 43.0597L38.8738 43.0599C41.0247 46.9422 42.8434 50.2248 43.8905 55.2869L44.1076 40.1785L34.8101 32.2093C34.8101 32.2093 35.7708 37.299 37.3005 40.1785C37.8395 41.1932 38.3658 42.1431 38.8736 43.0595L38.8737 43.0597ZM44.9651 54.3989C45.011 52.2494 45.0985 48.1508 45.0985 45.8234L51.4128 40.5106C48.2622 46.4516 46.6737 49.5492 44.9377 55.785C44.9377 55.6805 44.9488 55.1628 44.9651 54.3989ZM24.9653 29.5959C25.0739 29.6393 25.2629 29.7502 25.5146 29.8979C27.187 30.8792 31.6276 33.4848 33.6479 28.7227C32.9838 21.7496 35.7594 14.3685 38.6287 8.30145C33.998 13.7025 27.9538 22.4567 24.9653 29.5959ZM55.2313 29.2208C55.2313 21.5836 54.3598 18.3213 50.2506 8.30145C54.9219 12.9882 63.2006 28.3906 63.2006 28.3906C63.2006 28.3906 59.5944 34.4278 55.2313 29.2208ZM54.7333 30.383C54.5897 33.3402 54.2878 34.9695 53.5711 37.8542C55.7546 35.612 57.0085 34.4329 59.382 32.7073C57.3 32.3486 56.3087 31.785 54.7333 30.383ZM31.1009 34.0049L31.1009 34.0049C30.4903 33.4399 29.855 32.8522 29.1933 32.2093C31.1206 32.5475 32.4141 32.3432 33.8139 30.383C33.8139 30.383 34.3706 33.7104 34.6293 35.1977C34.9254 36.9006 35.6359 38.8503 35.6359 38.8503C34.2877 36.9532 32.7885 35.5662 31.1009 34.0049ZM49.4204 45.8234C46.0895 52.9184 45.1934 57.4111 44.9377 65.0825C47.4296 62.8478 48.6781 61.2688 50.7486 58.1094C49.5917 53.4189 49.5056 50.9568 49.4204 45.8234ZM51.043 54.7335C50.4548 51.301 50.0577 48.9837 50.4166 43.9971C51.9339 40.8108 53.9032 38.9139 56.0991 36.7988L56.0991 36.7988C56.306 36.5995 56.5149 36.3983 56.7256 36.1939C56.6799 40.5717 56.7393 42.9991 57.3897 47.1516C55.4731 51.6634 54.1344 53.7631 51.4128 56.9472C51.2849 56.1454 51.1602 55.4176 51.0431 54.7341L51.043 54.7337L51.043 54.7335ZM57.7218 35.0317C57.9431 38.3522 58.1866 45.2257 58.0538 45.4914C61.0836 39.5429 62.4905 36.0988 63.5327 30.383L57.7218 35.0317ZM62.0456 39.1781C62.0487 39.1759 62.0519 39.1733 62.0552 39.1703L66.1891 36.1939C65.6995 34.2579 65.324 33.246 64.5288 31.5451C64.3532 32.1159 64.1454 32.8111 63.9254 33.547L63.9253 33.5473L63.9253 33.5474C63.189 36.0109 62.3161 38.9313 62.0552 39.1703L62.0384 39.1824L62.0403 39.1814C62.0421 39.1804 62.0438 39.1793 62.0456 39.1781ZM61.8724 40.5106L56.3935 51.6343C60.5936 49.9892 63.2006 48.1478 67.3513 43.8311C67.1012 41.2007 66.935 39.7373 66.5211 37.19L61.8724 40.5106ZM49.4204 61.762L55.8955 52.9626C60.2759 51.1344 62.718 49.553 67.0192 45.8234C66.3343 51.7959 64.8027 54.5318 60.8763 58.7735C57.9838 60.1983 54.7333 60.9318 49.4204 61.762ZM48.5212 62.8156L45.7679 66.0786C52.5296 65.2735 55.134 63.8088 59.1918 60.601C54.9638 61.762 52.5478 62.4129 48.5212 62.8156ZM38.2784 58.7856C37.7709 58.1069 37.2339 57.3888 36.6363 56.6151L39.1268 45.8234C42.3396 52.5172 43.6004 56.5895 43.7755 65.0825C41.4367 63.009 40.0339 61.133 38.2784 58.7856ZM30.8254 46.4875C32.6008 50.2889 33.7039 52.2572 35.9723 55.2869C36.074 54.9383 36.1709 54.6079 36.2633 54.293C37.3768 50.4964 37.8367 48.9284 38.2967 44.3292C36.4422 41.3691 34.6434 38.6989 31.9877 36.1939L30.8254 46.4875ZM30.1614 45.3253L24.8485 30.715C27.5892 32.0205 28.9185 33.0039 30.9915 35.1977C30.9067 39.6502 30.8254 42.0048 30.1614 45.3253ZM22.5241 36.1939C24.0236 37.654 24.9555 38.2641 26.5088 38.8503L24.1844 31.3791L22.5241 36.1939ZM32.6518 51.9664C27.8079 49.8296 25.7134 48.8955 21.694 44.6612C21.4579 42.0858 21.6648 40.3722 22.1921 37.19C24.088 38.6936 25.0073 39.1644 27.1728 40.1785C29.01 44.7587 30.3029 47.5813 32.6518 51.9664ZM27.671 58.9395C30.4013 59.997 37.4627 60.487 38.0519 60.1983L33.3159 53.2946C27.8738 50.7708 25.4894 49.0664 21.694 45.8234C22.3263 50.8101 23.8524 53.7927 27.671 58.9395ZM42.9454 66.0786C35.9952 64.9318 33.0515 63.6953 29.4973 60.4337L39.1268 61.4299L42.9454 66.0786Z" fill="white"/>
                <rect x="43.488" y="56.7759" width="1.61065" height="16.9119" rx="0.805327" fill="white"/>
              </svg>
            </a>
          {% endif %}
        </div>
        {% if section.settings.visible_mobile_search %}
          <div id="mobile_search">
            {% include 'nov-formsearch-inline' %}
          </div>
        {% else %}
          <div class="col-xl-4 col-lg-4 col-md-6 d-flex align-items-center justify-content-end header-icons">
            <div class="search__btn-overlay icon">
              <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="9.98856" cy="9.98856" r="8.98856" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M16.2402 16.707L19.7643 20.2219" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
            <div class="contentsticky_account">
              {% if settings.account_type == 'dropdown' %}
                <div class="site-header_myaccount dropdown icon">
                  <div class="myaccount-title dropdown-toggle text-center d-flex" data-toggle="dropdown">
                    <a
                      class="myaccount"
                      href="{{ shop.secure_url }}/account"
                      rel="nofollow"
                      title="{{ 'layout.customer.account' | t }}"
                    >
                      <i class="fa fa-bars" aria-hidden="true"></i>
                    </a>
                  </div>
                  {% include 'nov-block-account' %}
                </div>
              {% else %}
                <div class="site-header_myaccount account_canvas icon">
                  <a href="/account" class="myaccount" title="{{ 'layout.customer.account' | t }}">
                    {%- comment -%}<i class="icon-settings"></i>{%- endcomment -%}
                    <svg width="16" height="21" viewBox="0 0 16 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M7.98493 13.5317C4.11731 13.5317 0.814453 14.1165 0.814453 16.4584C0.814453 18.8003 4.09636 19.406 7.98493 19.406C11.8525 19.406 15.1545 18.8203 15.1545 16.4794C15.1545 14.1384 11.8735 13.5317 7.98493 13.5317Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M7.98489 10.1914C10.523 10.1914 12.5801 8.13333 12.5801 5.59524C12.5801 3.05714 10.523 1 7.98489 1C5.44679 1 3.3887 3.05714 3.3887 5.59524C3.38013 8.12476 5.42394 10.1829 7.95251 10.1914H7.98489Z" stroke="white" stroke-width="1.42857" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                  </a>
                </div>
                {% include 'nov-block-account' %}
              {% endif %}
            </div>
            <div class="contentsticky_cart">
              <div class="{% if settings.mini_cart_type == 'canvas' %}cart_canvas{% else %}cart_dropdown{% endif %}">
                <div id="cart_block">
                  <a href="/cart" class="header-cart d-flex align-items-center">
                    <div class="site-header__cart">
                      <span class="site-header__cart-icon icon">
                        <svg width="37" height="35" viewBox="0 0 37 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M13.7729 21.805V18.773C13.7729 16.689 12.0839 15 10.0009 15C7.91694 14.991 6.21994 16.672 6.21094 18.756V18.773V21.805" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M14.7422 33.5004H5.25778C2.90569 33.5004 1 31.5954 1 29.2454V23.7294C1 21.3794 2.90569 19.4744 5.25778 19.4744H14.7422C17.0943 19.4744 19 21.3794 19 23.7294V29.2454C19 31.5954 17.0943 33.5004 14.7422 33.5004Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                          <circle cx="26.5" cy="10.5" r="10.5" fill="#EA7503"/>
                        </svg>
                        <div class="num-cartcount">
                          <span id="CartCount">{{ cart.item_count }}</span>
                        </div>
                      </span>
                      {%- comment -%}
                        <span id="_desktop_cart_count" class="site-header__cart-count">
                          <span id="CartCount">{{ cart.item_count }}</span>
                        </span>
                      {%- endcomment -%}
                    </div>
                  </a>
                  {% if settings.mini_cart_type != 'canvas' -%}
                    <div id="_desktop_cart"><div id="cart-info"></div></div>
                  {%- endif %}
                </div>
              </div>
            </div>
          </div>
        {% endif %}
        <div class="d-flex justify-content-end">
          <div id="show-megamenu" class="item-mobile-top"><i class="zmdi zmdi-view-headline"></i></div>
        </div>
      </div>
    </div>
    <div class="header-center d-none d-md-block position-relative">
      <div class="container">
        <div class="row">
          <div class="contentsticky_logo col-xl-1 col-lg-2 col-md-3 d-flex align-items-center p-0">
            <div class="btn_toggle_nav d-lg-none d-md-block">
              <i class="fa fa-bars" aria-hidden="true"></i>
            </div>
            {% if section.settings.logo %}
              <a href="/" class="site-header__logo-link d-inline-block img-fluid position-relative">
                {%- assign image_size = section.settings.w_logo | append: 'x' -%}
                <img
                  srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
                  src="{{ section.settings.logo | img_url: image_size }}"
                  loading="lazy"
                  width="{{ section.settings.logo.width }}"
                  height="{{ section.settings.logo.height }}"
                  alt="{{ section.settings.logo.alt | default: shop.name | escape }}"
                  style="height: auto;"
                >
              </a>
            {% else %}
              <div class="h2 site-header__logo d-inline-block mb-0 position-relative">
                {% comment %} <a class="site-header__logo-link" href="/" itemprop="url">{{ shop.name }}</a> {% endcomment %}
                <a href="/" class="site-header__logo-link d-inline-block img-fluid position-relative">
                  <svg width="89" height="110" viewBox="0 0 89 110" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.88315 78.8157H10.2845V93.7129H6.88315L3.40132 86.5289V93.7129H0V78.8157H3.40132H3.42145L6.88315 86.305V78.8157Z" fill="white"/>
                    <path d="M21.8957 93.6925L21.4731 92.0644H16.3409L15.9182 93.6925H12.3962L16.361 78.8157H21.4529L25.4178 93.6925H21.8957ZM17.1258 89.1542H20.6881L18.8969 82.4383L17.1258 89.1542Z" fill="white"/>
                    <path d="M36.1897 78.8157V81.8481H33.0098V93.7129H29.6084V81.8481H26.4285V78.8157H36.1897Z" fill="white"/>
                    <path d="M48.4726 89.7037C48.4458 90.2871 48.3183 90.8365 48.0902 91.3521C47.8756 91.8677 47.5603 92.3154 47.1443 92.6953C46.7284 93.0752 46.2252 93.3805 45.6348 93.6111C45.0445 93.8282 44.3669 93.9367 43.6021 93.9367H43.1191C42.3274 93.9367 41.623 93.8214 41.0058 93.5907C40.402 93.3465 39.8922 93.0209 39.4762 92.6139C39.0737 92.2069 38.7651 91.732 38.5504 91.1893C38.3358 90.6466 38.2284 90.07 38.2284 89.4594V78.8157H41.5895L41.6096 89.4594C41.6096 89.663 41.6499 89.8597 41.7304 90.0496C41.8109 90.226 41.9182 90.3888 42.0524 90.5381C42.2 90.6737 42.361 90.7823 42.5354 90.8637C42.7233 90.9451 42.9178 90.9858 43.1191 90.9858H43.6021C43.8034 90.9858 43.9912 90.9451 44.1656 90.8637C44.3535 90.7823 44.5145 90.6737 44.6487 90.5381C44.7963 90.3888 44.9103 90.226 44.9908 90.0496C45.0713 89.8597 45.1116 89.663 45.1116 89.4594V78.8157H48.4928V89.7037H48.4726Z" fill="white"/>
                    <path d="M56.6418 90.4363H55.1122V93.7129H51.7109V78.8157H52.7575H57.0645C57.7622 78.775 58.3995 78.8632 58.9765 79.0803C59.5668 79.2838 60.0767 79.5823 60.5061 79.9758C60.9354 80.3692 61.2708 80.8305 61.5124 81.3596C61.7673 81.8888 61.9149 82.445 61.9551 83.0284V85.959C61.9551 86.6781 61.8008 87.3497 61.4922 87.9738C61.197 88.5843 60.7677 89.0999 60.2042 89.5205L62.5992 93.7129H58.6746L56.6418 90.4363ZM58.5941 83.2727C58.5941 83.0691 58.5471 82.8792 58.4532 82.7028C58.3727 82.5129 58.2586 82.3501 58.111 82.2144C57.9769 82.0651 57.8158 81.9498 57.628 81.8684C57.4536 81.787 57.2657 81.7463 57.0645 81.7463H55.1122V87.4854H57.0645C57.467 87.4854 57.8226 87.3361 58.1312 87.0376C58.4398 86.7256 58.5941 86.366 58.5941 85.959V83.2727Z" fill="white"/>
                    <path d="M72.8612 81.7463H67.7894V84.6362H71.9756V87.5668H67.7894V90.7619H72.8612V93.7129H64.388V78.8157H65.4346H67.7894H72.8612V81.7463Z" fill="white"/>
                    <path d="M77.7333 79.4059C77.6125 79.8808 77.4582 80.3963 77.2704 80.9526C77.0825 81.5089 76.8745 82.0651 76.6465 82.6214C76.4318 83.1641 76.2171 83.6797 76.0024 84.1681H74.6942C74.7881 83.7882 74.8821 83.3812 74.976 82.947C75.0833 82.5129 75.1772 82.0787 75.2577 81.6446C75.3517 81.1968 75.4322 80.7627 75.4993 80.3421C75.5798 79.9215 75.6469 79.5348 75.7005 79.1821H77.5924L77.7333 79.4059Z" fill="white"/>
                    <path d="M84.371 84.6362C85.015 84.6362 85.6121 84.7583 86.1622 85.0025C86.7257 85.2467 87.2155 85.5791 87.6314 85.9997C88.0608 86.4203 88.3962 86.9155 88.6377 87.4854C88.8792 88.0416 89 88.6454 89 89.2966C89 89.9343 88.8792 90.5381 88.6377 91.1079C88.3962 91.6777 88.0608 92.1729 87.6314 92.5935C87.2155 93.0141 86.7257 93.3465 86.1622 93.5907C85.6121 93.835 85.015 93.9571 84.371 93.9571H83.3445C82.7005 93.9571 82.0967 93.835 81.5332 93.5907C80.9831 93.3465 80.5 93.0141 80.0841 92.5935C79.6682 92.1729 79.3394 91.6777 79.0979 91.1079C78.8564 90.5381 78.7356 89.9343 78.7356 89.2966H81.8351C81.8351 89.7172 81.976 90.0768 82.2577 90.3752C82.5529 90.6737 82.9152 90.823 83.3445 90.823H84.371C84.8003 90.823 85.1626 90.6737 85.4578 90.3752C85.753 90.0768 85.9006 89.7172 85.9006 89.2966C85.9006 88.8625 85.753 88.4961 85.4578 88.1977C85.1626 87.8992 84.8003 87.7499 84.371 87.7499H83.3445C82.7005 87.7499 82.0967 87.6414 81.5332 87.4243C80.9831 87.1937 80.5 86.8816 80.0841 86.4882C79.6682 86.0947 79.3394 85.6266 79.0979 85.0839C78.8564 84.5412 78.7356 83.9442 78.7356 83.293C78.7356 82.6553 78.8564 82.0516 79.0979 81.4817C79.3394 80.9119 79.6682 80.4167 80.0841 79.9961C80.5 79.5755 80.9831 79.2431 81.5332 78.9989C82.0967 78.7547 82.7005 78.6326 83.3445 78.6326H84.371C85.015 78.6326 85.6121 78.7547 86.1622 78.9989C86.7257 79.2431 87.2155 79.5755 87.6314 79.9961C88.0608 80.4167 88.3962 80.9119 88.6377 81.4817C88.8792 82.0516 89 82.6553 89 83.293H85.9006C85.9006 82.8724 85.753 82.5129 85.4578 82.2144C85.1626 81.9159 84.8003 81.7667 84.371 81.7667H83.3445C82.9152 81.7667 82.5529 81.9159 82.2577 82.2144C81.976 82.5129 81.8351 82.8724 81.8351 83.293C81.8351 83.7272 81.976 84.0596 82.2577 84.2902C82.5529 84.5209 82.9152 84.6362 83.3445 84.6362H84.371Z" fill="white"/>
                    <path d="M27.4067 99.5566V100.284C27.4067 100.669 27.7425 100.997 28.1366 100.997C28.3848 100.997 28.6329 100.997 28.8811 100.997V109.282H29.6694C30.0051 109.282 30.3555 108.954 30.3555 108.612C30.3555 108.412 30.3555 103.507 30.3555 100.997C30.6036 100.997 30.8518 100.997 31.1 100.997C31.5087 100.997 31.8444 100.669 31.8444 100.284V99.5566C30.3555 99.5566 28.8811 99.5566 27.4067 99.5566Z" fill="white"/>
                    <path d="M39.4385 99.5566C38.8838 99.5566 38.3437 99.5566 37.8036 99.5566C37.2197 102.794 36.6358 106.045 36.0519 109.282H36.9277C37.2489 109.282 37.5846 109.068 37.643 108.74C37.6576 108.683 37.7306 108.284 37.8328 107.685H39.3947C39.5115 108.284 39.5845 108.683 39.5991 108.74C39.6575 109.068 40.0079 109.282 40.2998 109.282H41.1903C40.6064 106.045 40.0224 102.794 39.4385 99.5566ZM38.0956 106.244C38.1831 105.774 38.2707 105.275 38.3729 104.761C38.3875 104.676 38.4021 104.576 38.4167 104.491L38.6211 103.364L38.8254 104.491C38.84 104.576 38.8546 104.676 38.8692 104.761C38.9714 105.275 39.059 105.774 39.1466 106.244H38.0956Z" fill="white"/>
                    <path d="M50.324 107.842C49.6087 107.842 48.8204 107.842 48.1051 107.842C48.1051 105.332 48.1051 100.412 48.1051 100.213C48.1051 99.8846 47.7548 99.5566 47.419 99.5566H46.6308C46.6308 102.794 46.6308 106.031 46.6308 109.282H51.0685V108.555C51.0685 108.155 50.7327 107.842 50.324 107.842Z" fill="white"/>
                    <path d="M59.9636 107.842C59.2483 107.842 58.46 107.842 57.7447 107.842V105.146H60.3431V103.692H57.7447V100.997C58.46 100.997 59.1899 100.997 59.9052 100.997H59.9636C60.3723 100.997 60.7081 100.669 60.7081 100.284C60.7081 100.041 60.7081 99.7991 60.7081 99.5566C59.2191 99.5566 57.7447 99.5566 56.2704 99.5566C56.2704 102.794 56.2704 106.045 56.2704 109.282C57.7447 109.282 59.2191 109.282 60.7081 109.282C60.7081 109.039 60.7081 108.797 60.7081 108.555C60.7081 108.155 60.3723 107.842 59.9636 107.842Z" fill="white"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M25.5127 57.6112C34.7244 70.5607 54.8898 69.6841 63.5327 57.6112C73.9922 43.0008 65.7409 23.2405 44.4397 0C25.5127 20.5873 14.0566 41.5066 25.5127 57.6112ZM44.1076 11.954C44.1076 11.954 39.8177 7.59032 39.8639 7.24802C39.9909 6.30709 42.0122 4.10798 43.5394 2.4464L43.5397 2.44603L43.5408 2.44488L43.541 2.44462L43.5414 2.44421L43.5415 2.44411L43.5422 2.4433L43.5435 2.44199C43.7416 2.2264 43.9314 2.0199 44.1076 1.82642V11.954ZM45.0985 17.9186L44.9377 1.82642C47.7923 5.44256 49.1474 7.75094 50.7486 11.954L45.0985 17.9186ZM36.2399 16.912L44.1076 24.5626V13.4483L39.6249 8.30145C38.2493 11.0987 37.6707 12.776 36.8212 15.2382C36.6427 15.7556 36.4522 16.3076 36.2399 16.912ZM45.0985 30.6025V19.3279L51.2467 12.9502C52.5987 16.386 53.0769 18.2718 53.5711 21.5836L45.0985 30.6025ZM34.8101 30.881L44.1076 38.8503V26.0663L35.8062 18.097C34.3687 21.9623 34.2991 24.9114 34.8101 30.881ZM45.0985 44.3292V32.2093L53.9031 22.9118C54.4807 29.7678 54.1272 33.2124 52.0769 38.5183L45.0985 44.3292ZM38.8737 43.0597L38.8738 43.0599C41.0247 46.9422 42.8434 50.2248 43.8905 55.2869L44.1076 40.1785L34.8101 32.2093C34.8101 32.2093 35.7708 37.299 37.3005 40.1785C37.8395 41.1932 38.3658 42.1431 38.8736 43.0595L38.8737 43.0597ZM44.9651 54.3989C45.011 52.2494 45.0985 48.1508 45.0985 45.8234L51.4128 40.5106C48.2622 46.4516 46.6737 49.5492 44.9377 55.785C44.9377 55.6805 44.9488 55.1628 44.9651 54.3989ZM24.9653 29.5959C25.0739 29.6393 25.2629 29.7502 25.5146 29.8979C27.187 30.8792 31.6276 33.4848 33.6479 28.7227C32.9838 21.7496 35.7594 14.3685 38.6287 8.30145C33.998 13.7025 27.9538 22.4567 24.9653 29.5959ZM55.2313 29.2208C55.2313 21.5836 54.3598 18.3213 50.2506 8.30145C54.9219 12.9882 63.2006 28.3906 63.2006 28.3906C63.2006 28.3906 59.5944 34.4278 55.2313 29.2208ZM54.7333 30.383C54.5897 33.3402 54.2878 34.9695 53.5711 37.8542C55.7546 35.612 57.0085 34.4329 59.382 32.7073C57.3 32.3486 56.3087 31.785 54.7333 30.383ZM31.1009 34.0049L31.1009 34.0049C30.4903 33.4399 29.855 32.8522 29.1933 32.2093C31.1206 32.5475 32.4141 32.3432 33.8139 30.383C33.8139 30.383 34.3706 33.7104 34.6293 35.1977C34.9254 36.9006 35.6359 38.8503 35.6359 38.8503C34.2877 36.9532 32.7885 35.5662 31.1009 34.0049ZM49.4204 45.8234C46.0895 52.9184 45.1934 57.4111 44.9377 65.0825C47.4296 62.8478 48.6781 61.2688 50.7486 58.1094C49.5917 53.4189 49.5056 50.9568 49.4204 45.8234ZM51.043 54.7335C50.4548 51.301 50.0577 48.9837 50.4166 43.9971C51.9339 40.8108 53.9032 38.9139 56.0991 36.7988L56.0991 36.7988C56.306 36.5995 56.5149 36.3983 56.7256 36.1939C56.6799 40.5717 56.7393 42.9991 57.3897 47.1516C55.4731 51.6634 54.1344 53.7631 51.4128 56.9472C51.2849 56.1454 51.1602 55.4176 51.0431 54.7341L51.043 54.7337L51.043 54.7335ZM57.7218 35.0317C57.9431 38.3522 58.1866 45.2257 58.0538 45.4914C61.0836 39.5429 62.4905 36.0988 63.5327 30.383L57.7218 35.0317ZM62.0456 39.1781C62.0487 39.1759 62.0519 39.1733 62.0552 39.1703L66.1891 36.1939C65.6995 34.2579 65.324 33.246 64.5288 31.5451C64.3532 32.1159 64.1454 32.8111 63.9254 33.547L63.9253 33.5473L63.9253 33.5474C63.189 36.0109 62.3161 38.9313 62.0552 39.1703L62.0384 39.1824L62.0403 39.1814C62.0421 39.1804 62.0438 39.1793 62.0456 39.1781ZM61.8724 40.5106L56.3935 51.6343C60.5936 49.9892 63.2006 48.1478 67.3513 43.8311C67.1012 41.2007 66.935 39.7373 66.5211 37.19L61.8724 40.5106ZM49.4204 61.762L55.8955 52.9626C60.2759 51.1344 62.718 49.553 67.0192 45.8234C66.3343 51.7959 64.8027 54.5318 60.8763 58.7735C57.9838 60.1983 54.7333 60.9318 49.4204 61.762ZM48.5212 62.8156L45.7679 66.0786C52.5296 65.2735 55.134 63.8088 59.1918 60.601C54.9638 61.762 52.5478 62.4129 48.5212 62.8156ZM38.2784 58.7856C37.7709 58.1069 37.2339 57.3888 36.6363 56.6151L39.1268 45.8234C42.3396 52.5172 43.6004 56.5895 43.7755 65.0825C41.4367 63.009 40.0339 61.133 38.2784 58.7856ZM30.8254 46.4875C32.6008 50.2889 33.7039 52.2572 35.9723 55.2869C36.074 54.9383 36.1709 54.6079 36.2633 54.293C37.3768 50.4964 37.8367 48.9284 38.2967 44.3292C36.4422 41.3691 34.6434 38.6989 31.9877 36.1939L30.8254 46.4875ZM30.1614 45.3253L24.8485 30.715C27.5892 32.0205 28.9185 33.0039 30.9915 35.1977C30.9067 39.6502 30.8254 42.0048 30.1614 45.3253ZM22.5241 36.1939C24.0236 37.654 24.9555 38.2641 26.5088 38.8503L24.1844 31.3791L22.5241 36.1939ZM32.6518 51.9664C27.8079 49.8296 25.7134 48.8955 21.694 44.6612C21.4579 42.0858 21.6648 40.3722 22.1921 37.19C24.088 38.6936 25.0073 39.1644 27.1728 40.1785C29.01 44.7587 30.3029 47.5813 32.6518 51.9664ZM27.671 58.9395C30.4013 59.997 37.4627 60.487 38.0519 60.1983L33.3159 53.2946C27.8738 50.7708 25.4894 49.0664 21.694 45.8234C22.3263 50.8101 23.8524 53.7927 27.671 58.9395ZM42.9454 66.0786C35.9952 64.9318 33.0515 63.6953 29.4973 60.4337L39.1268 61.4299L42.9454 66.0786Z" fill="white"/>
                    <rect x="43.488" y="56.7759" width="1.61065" height="16.9119" rx="0.805327" fill="white"/>
                  </svg>
                </a>
              </div>
            {% endif %}
          </div>
          <div class="contentsticky_menu col-xl-7 col-lg-6 col-md-3 text-lg-center position-static">
            <nav id="AccessibleNav">{% include 'site-nav' %}</nav>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6 d-flex align-items-center justify-content-end header-icons">
            <div class="search__btn-overlay icon">
              <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="9.98856" cy="9.98856" r="8.98856" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M16.2402 16.707L19.7643 20.2219" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
            <div class="contentsticky_account">
              {% if settings.account_type == 'dropdown' %}
                <div class="site-header_myaccount dropdown icon">
                  <div class="myaccount-title dropdown-toggle text-center d-flex" data-toggle="dropdown">
                    <a
                      class="myaccount"
                      href="{{ shop.secure_url }}/account"
                      rel="nofollow"
                      title="{{ 'layout.customer.account' | t }}"
                    >
                      <i class="fa fa-bars" aria-hidden="true"></i>
                    </a>
                  </div>
                  {% include 'nov-block-account' %}
                </div>
              {% else %}
                <div class="site-header_myaccount account_canvas icon">
                  <a href="/account" class="myaccount" title="{{ 'layout.customer.account' | t }}">
                    {%- comment -%}<i class="icon-settings"></i>{%- endcomment -%}
                    <svg width="16" height="21" viewBox="0 0 16 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M7.98493 13.5317C4.11731 13.5317 0.814453 14.1165 0.814453 16.4584C0.814453 18.8003 4.09636 19.406 7.98493 19.406C11.8525 19.406 15.1545 18.8203 15.1545 16.4794C15.1545 14.1384 11.8735 13.5317 7.98493 13.5317Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M7.98489 10.1914C10.523 10.1914 12.5801 8.13333 12.5801 5.59524C12.5801 3.05714 10.523 1 7.98489 1C5.44679 1 3.3887 3.05714 3.3887 5.59524C3.38013 8.12476 5.42394 10.1829 7.95251 10.1914H7.98489Z" stroke="white" stroke-width="1.42857" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                  </a>
                </div>
              {% endif %}
            </div>
            <div class="contentsticky_cart">
              <div class="{% if settings.mini_cart_type == 'canvas' %}cart_canvas{% else %}cart_dropdown{% endif %}">
                <div id="cart_block">
                  <a href="/cart" class="header-cart d-flex align-items-center">
                    <div class="site-header__cart">
                      <span class="site-header__cart-icon icon">
                        <svg width="37" height="35" viewBox="0 0 37 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M13.7729 21.805V18.773C13.7729 16.689 12.0839 15 10.0009 15C7.91694 14.991 6.21994 16.672 6.21094 18.756V18.773V21.805" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M14.7422 33.5004H5.25778C2.90569 33.5004 1 31.5954 1 29.2454V23.7294C1 21.3794 2.90569 19.4744 5.25778 19.4744H14.7422C17.0943 19.4744 19 21.3794 19 23.7294V29.2454C19 31.5954 17.0943 33.5004 14.7422 33.5004Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                          <circle cx="26.5" cy="10.5" r="10.5" fill="#EA7503"/>
                        </svg>
                        <div class="num-cartcount">
                          <span id="CartCount">{{ cart.item_count }}</span>
                        </div>
                      </span>
                      {%- comment -%}
                        <span id="_desktop_cart_count" class="site-header__cart-count">
                          <span id="CartCount">{{ cart.item_count }}</span>
                        </span>
                      {%- endcomment -%}
                    </div>
                  </a>
                  {% comment %} {% if settings.mini_cart_type != 'canvas' -%}
                    <div id="_desktop_cart"><div id="cart-info"></div></div>
                  {%- endif %} {% endcomment %}
                </div>
              </div>
            </div>
            {% if section.settings.order != blank %}
              <a
                class="order_btn font-700 button_S site-button text-uppercase"
                href="{{ section.settings.order_link }}"
              >
                {{- section.settings.order -}}
              </a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  {% if section.settings.stickymenu == true %}
    <div
      id="header-sticky"
      class="d-none d-md-block"
      {% if section.settings.background_color != blank %}
        style="background-color: {{ section.settings.background_color_sticky }};"
      {% endif %}
    >
      <div class="container">
        <div class="bl_content row align-items-center">
          <div class="contentstickynew_logo col-2"></div>
          <div class="contentstickynew_menu col-8 position-static text-center"></div>
          <div class="contentstickynew_cart col-2"></div>
        </div>
      </div>
    </div>
  {% endif %}
</div>
{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "color",
      "id": "background_color",
      "label": "Background colors"
    },
    {
      "type": "color",
      "id": "background_m",
      "label": "Background colors mobile"
    },
    {
      "type": "color",
      "id": "c_icon_m",
      "label": "Color icon header mobile"
    },
    {
      "type": "color",
      "id": "background_color_sticky",
      "label": "Background colors sticky"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo image"
    },
    {
      "type": "number",
      "id": "w_logo",
      "label": "Width logo image (px)",
      "default": 150
    },
    {
      "type": "image_picker",
      "id": "logo_mobile",
      "label": "Logo mobile image"
    },
    {
      "type": "number",
      "id": "wm_logo",
      "label": "Width logo mobile image (px)",
      "default": 100
    },
    {
      "type": "text",
      "id": "order",
      "label": "Button order text"
    },
    {
      "type": "url",
      "id": "order_link",
      "label": "Button order link"
    },
    {
      "type": "header",
      "content": "Sticky header"
    },
    {
      "type": "checkbox",
      "id": "stickymenu",
      "label": "Enable sticky"
    },
    {
      "type": "header",
      "content": "Vinova Menu"
    },
    {
      "type": "checkbox",
      "id": "novmenu_enable",
      "label": "Enable megamenu",
      "info": "Acitve Vinova Menu",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_icons",
      "label": "Enable icon",
      "info": "Acitve Icon Menu",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "visible_mobile_search",
      "label": "Visible mobile search",
      "info": "Visible mobile search",
      "default": true
    },
    {
      "type": "link_list",
      "id": "main_linklist",
      "label": "Menu",
      "default": "main-menu"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Megamenu Item",
      "settings": [
        {
          "type": "text",
          "id": "novmenu_item",
          "label": "Menu item name",
          "info": "Menu item of main-menu. Menu item has dropdown megamenu."
        },
        {
          "type": "text",
          "id": "submenu_width",
          "label": "Submenu width (px)"
        },
        {
          "type": "checkbox",
          "id": "submenu_full_width",
          "label": "Submenu full width"
        },
        {
          "type": "image_picker",
          "id": "icon_menu",
          "label": "Icon menu"
        },
        {
          "type": "image_picker",
          "id": "img_bg",
          "label": "background image for block"
        },
        {
          "type": "header",
          "content": "Block navigation",
          "info": "Admin -> Navigation -> Menu."
        },
        {
          "type": "checkbox",
          "id": "novmenu_menu_enable",
          "label": "Enable navigation"
        },
        {
          "type": "select",
          "id": "novmenu_xl",
          "label": "Width on megamenu large desktop 1200px ↑",
          "default": "col-xl-3",
          "options": [
            { "value": "col-xl-1", "label": "1/12" },
            { "value": "col-xl-2", "label": "2/12" },
            { "value": "col-xl-3", "label": "3/12" },
            { "value": "col-xl-4", "label": "4/12" },
            { "value": "col-xl-5", "label": "5/12" },
            { "value": "col-xl-6", "label": "6/12" },
            { "value": "col-xl-7", "label": "7/12" },
            { "value": "col-xl-8", "label": "8/12" },
            { "value": "col-xl-9", "label": "9/12" },
            { "value": "col-xl-10", "label": "10/12" },
            { "value": "col-xl-11", "label": "11/12" },
            { "value": "col-xl-12", "label": "12/12" }
          ]
        },
        {
          "type": "select",
          "id": "novmenu_lg",
          "label": "Width on megamenu desktop 992px ↑",
          "default": "col-lg-3",
          "options": [
            { "value": "col-lg-1", "label": "1/12" },
            { "value": "col-lg-2", "label": "2/12" },
            { "value": "col-lg-3", "label": "3/12" },
            { "value": "col-lg-4", "label": "4/12" },
            { "value": "col-lg-5", "label": "5/12" },
            { "value": "col-lg-6", "label": "6/12" },
            { "value": "col-lg-7", "label": "7/12" },
            { "value": "col-lg-8", "label": "8/12" },
            { "value": "col-lg-9", "label": "9/12" },
            { "value": "col-lg-10", "label": "10/12" },
            { "value": "col-lg-11", "label": "11/12" },
            { "value": "col-lg-12", "label": "12/12" }
          ]
        },
        {
          "type": "select",
          "id": "submenu_xl",
          "label": "Width fisrt children menu on megamenu large desktop 1200px ↑",
          "default": "col-xl-3",
          "options": [
            { "value": "col-xl-1", "label": "1/12" },
            { "value": "col-xl-2", "label": "2/12" },
            { "value": "col-xl-3", "label": "3/12" },
            { "value": "col-xl-4", "label": "4/12" },
            { "value": "col-xl-5", "label": "5/12" },
            { "value": "col-xl-6", "label": "6/12" },
            { "value": "col-xl-7", "label": "7/12" },
            { "value": "col-xl-8", "label": "8/12" },
            { "value": "col-xl-9", "label": "9/12" },
            { "value": "col-xl-10", "label": "10/12" },
            { "value": "col-xl-11", "label": "11/12" },
            { "value": "col-xl-12", "label": "12/12" }
          ]
        },
        {
          "type": "select",
          "id": "submenu_lg",
          "label": "Width fisrt children menu on megamenu desktop 992px ↑",
          "default": "col-lg-3",
          "options": [
            { "value": "col-lg-1", "label": "1/12" },
            { "value": "col-lg-2", "label": "2/12" },
            { "value": "col-lg-3", "label": "3/12" },
            { "value": "col-lg-4", "label": "4/12" },
            { "value": "col-lg-5", "label": "5/12" },
            { "value": "col-lg-6", "label": "6/12" },
            { "value": "col-lg-7", "label": "7/12" },
            { "value": "col-lg-8", "label": "8/12" },
            { "value": "col-lg-9", "label": "9/12" },
            { "value": "col-lg-10", "label": "10/12" },
            { "value": "col-lg-11", "label": "11/12" },
            { "value": "col-lg-12", "label": "12/12" }
          ]
        },
        {
          "type": "header",
          "content": "Block Banner"
        },
        {
          "type": "header",
          "content": "Block Banner 1"
        },
        {
          "type": "checkbox",
          "id": "novmenu_banner_enable1",
          "label": "Enable Banner 1"
        },
        {
          "type": "select",
          "id": "banner_1_xl",
          "label": "Width on megamenu large desktop 1200px ↑",
          "default": "col-xl-4",
          "options": [
            { "value": "col-xl-1", "label": "1/12" },
            { "value": "col-xl-2", "label": "2/12" },
            { "value": "col-xl-3", "label": "3/12" },
            { "value": "col-xl-4", "label": "4/12" },
            { "value": "col-xl-5", "label": "5/12" },
            { "value": "col-xl-6", "label": "6/12" },
            { "value": "col-xl-7", "label": "7/12" },
            { "value": "col-xl-8", "label": "8/12" },
            { "value": "col-xl-9", "label": "9/12" },
            { "value": "col-xl-10", "label": "10/12" },
            { "value": "col-xl-11", "label": "11/12" },
            { "value": "col-xl-12", "label": "12/12" }
          ]
        },
        {
          "type": "select",
          "id": "banner_1_lg",
          "label": "Width on megamenu desktop 992px ↑",
          "default": "col-lg-4",
          "options": [
            { "value": "col-lg-1", "label": "1/12" },
            { "value": "col-lg-2", "label": "2/12" },
            { "value": "col-lg-3", "label": "3/12" },
            { "value": "col-lg-4", "label": "4/12" },
            { "value": "col-lg-5", "label": "5/12" },
            { "value": "col-lg-6", "label": "6/12" },
            { "value": "col-lg-7", "label": "7/12" },
            { "value": "col-lg-8", "label": "8/12" },
            { "value": "col-lg-9", "label": "9/12" },
            { "value": "col-lg-10", "label": "10/12" },
            { "value": "col-lg-11", "label": "11/12" },
            { "value": "col-lg-12", "label": "12/12" }
          ]
        },
        {
          "type": "text",
          "id": "image_size1",
          "label": "Image Size Banner 1",
          "default": "255x300",
          "info": "[Size parameters](https://help.shopify.com/themes/liquid/filters/url-filters#size-parameters)"
        },
        {
          "type": "image_picker",
          "id": "novmenu_banner1",
          "label": "Banner image"
        },
        {
          "type": "text",
          "id": "novmenu_banner_link1",
          "label": "Banner Link"
        },
        {
          "type": "text",
          "id": "class_bn1",
          "label": "Banner class"
        },
        {
          "type": "header",
          "content": "Block Banner 2"
        },
        {
          "type": "checkbox",
          "id": "novmenu_banner_enable2",
          "label": "Enable Banner 2"
        },
        {
          "type": "select",
          "id": "banner_2_xl",
          "label": "Width on megamenu large desktop 1200px ↑",
          "default": "col-xl-4",
          "options": [
            { "value": "col-xl-1", "label": "1/12" },
            { "value": "col-xl-2", "label": "2/12" },
            { "value": "col-xl-3", "label": "3/12" },
            { "value": "col-xl-4", "label": "4/12" },
            { "value": "col-xl-5", "label": "5/12" },
            { "value": "col-xl-6", "label": "6/12" },
            { "value": "col-xl-7", "label": "7/12" },
            { "value": "col-xl-8", "label": "8/12" },
            { "value": "col-xl-9", "label": "9/12" },
            { "value": "col-xl-10", "label": "10/12" },
            { "value": "col-xl-11", "label": "11/12" },
            { "value": "col-xl-12", "label": "12/12" }
          ]
        },
        {
          "type": "select",
          "id": "banner_2_lg",
          "label": "Width on megamenu desktop 992px ↑",
          "default": "col-lg-4",
          "options": [
            { "value": "col-lg-1", "label": "1/12" },
            { "value": "col-lg-2", "label": "2/12" },
            { "value": "col-lg-3", "label": "3/12" },
            { "value": "col-lg-4", "label": "4/12" },
            { "value": "col-lg-5", "label": "5/12" },
            { "value": "col-lg-6", "label": "6/12" },
            { "value": "col-lg-7", "label": "7/12" },
            { "value": "col-lg-8", "label": "8/12" },
            { "value": "col-lg-9", "label": "9/12" },
            { "value": "col-lg-10", "label": "10/12" },
            { "value": "col-lg-11", "label": "11/12" },
            { "value": "col-lg-12", "label": "12/12" }
          ]
        },
        {
          "type": "text",
          "id": "image_size2",
          "label": "Image size banner 2",
          "default": "255x300",
          "info": "[Size parameters](https://help.shopify.com/themes/liquid/filters/url-filters#size-parameters)"
        },
        {
          "type": "image_picker",
          "id": "novmenu_banner2",
          "label": "Banner image"
        },
        {
          "type": "text",
          "id": "novmenu_banner_link2",
          "label": "Banner link"
        },
        {
          "type": "text",
          "id": "class_bn2",
          "label": "Banner class"
        },
        {
          "type": "header",
          "content": "Block Banner 3"
        },
        {
          "type": "checkbox",
          "id": "novmenu_banner_enable3",
          "label": "Enable banner 3"
        },
        {
          "type": "select",
          "id": "banner_3_xl",
          "label": "Width on megamenu large desktop 1200px ↑",
          "default": "col-xl-4",
          "options": [
            { "value": "col-xl-1", "label": "1/12" },
            { "value": "col-xl-2", "label": "2/12" },
            { "value": "col-xl-3", "label": "3/12" },
            { "value": "col-xl-4", "label": "4/12" },
            { "value": "col-xl-5", "label": "5/12" },
            { "value": "col-xl-6", "label": "6/12" },
            { "value": "col-xl-7", "label": "7/12" },
            { "value": "col-xl-8", "label": "8/12" },
            { "value": "col-xl-9", "label": "9/12" },
            { "value": "col-xl-10", "label": "10/12" },
            { "value": "col-xl-11", "label": "11/12" },
            { "value": "col-xl-12", "label": "12/12" }
          ]
        },
        {
          "type": "select",
          "id": "banner_3_lg",
          "label": "Width on megamenu desktop 992px ↑",
          "default": "col-lg-4",
          "options": [
            { "value": "col-lg-1", "label": "1/12" },
            { "value": "col-lg-2", "label": "2/12" },
            { "value": "col-lg-3", "label": "3/12" },
            { "value": "col-lg-4", "label": "4/12" },
            { "value": "col-lg-5", "label": "5/12" },
            { "value": "col-lg-6", "label": "6/12" },
            { "value": "col-lg-7", "label": "7/12" },
            { "value": "col-lg-8", "label": "8/12" },
            { "value": "col-lg-9", "label": "9/12" },
            { "value": "col-lg-10", "label": "10/12" },
            { "value": "col-lg-11", "label": "11/12" },
            { "value": "col-lg-12", "label": "12/12" }
          ]
        },
        {
          "type": "text",
          "id": "image_size3",
          "label": "Image size banner 3",
          "default": "255x300",
          "info": "[Size parameters](https://help.shopify.com/themes/liquid/filters/url-filters#size-parameters)"
        },
        {
          "type": "image_picker",
          "id": "novmenu_banner3",
          "label": "Banner image"
        },
        {
          "type": "text",
          "id": "novmenu_banner_link3",
          "label": "Banner link"
        },
        {
          "type": "text",
          "id": "class_bn3",
          "label": "Banner class"
        },
        {
          "type": "header",
          "content": "Block Collection List"
        },
        {
          "type": "checkbox",
          "id": "collection_enable",
          "label": "Enable block collection"
        },
        {
          "type": "select",
          "id": "collection_xl",
          "label": "Width on megamenu large desktop 1200px ↑",
          "default": "col-xl-3",
          "options": [
            { "value": "col-xl-1", "label": "1/12" },
            { "value": "col-xl-2", "label": "2/12" },
            { "value": "col-xl-3", "label": "3/12" },
            { "value": "col-xl-4", "label": "4/12" },
            { "value": "col-xl-5", "label": "5/12" },
            { "value": "col-xl-6", "label": "6/12" },
            { "value": "col-xl-7", "label": "7/12" },
            { "value": "col-xl-8", "label": "8/12" },
            { "value": "col-xl-9", "label": "9/12" },
            { "value": "col-xl-10", "label": "10/12" },
            { "value": "col-xl-11", "label": "11/12" },
            { "value": "col-xl-12", "label": "12/12" }
          ]
        },
        {
          "type": "select",
          "id": "collection_lg",
          "label": "Width on megamenu desktop 992px ↑",
          "default": "col-lg-3",
          "options": [
            { "value": "col-lg-1", "label": "1/12" },
            { "value": "col-lg-2", "label": "2/12" },
            { "value": "col-lg-3", "label": "3/12" },
            { "value": "col-lg-4", "label": "4/12" },
            { "value": "col-lg-5", "label": "5/12" },
            { "value": "col-lg-6", "label": "6/12" },
            { "value": "col-lg-7", "label": "7/12" },
            { "value": "col-lg-8", "label": "8/12" },
            { "value": "col-lg-9", "label": "9/12" },
            { "value": "col-lg-10", "label": "10/12" },
            { "value": "col-lg-11", "label": "11/12" },
            { "value": "col-lg-12", "label": "12/12" }
          ]
        },
        {
          "type": "text",
          "id": "name_collec_1",
          "label": "Title collection 1",
          "default": "Best Sellers"
        },
        {
          "type": "url",
          "id": "link_1",
          "label": "Link collection 1"
        },
        {
          "type": "text",
          "id": "name_collec_2",
          "label": "Title collection 2",
          "default": "New Arrival"
        },
        {
          "type": "url",
          "id": "link_2",
          "label": "Link collection 2"
        },
        {
          "type": "text",
          "id": "name_collec_3",
          "label": "Title collection 3",
          "default": "Top Trending"
        },
        {
          "type": "url",
          "id": "link_3",
          "label": "Link collection 3"
        },
        {
          "type": "text",
          "id": "name_collec_4",
          "label": "Title collection 4",
          "default": "Top Trending"
        },
        {
          "type": "url",
          "id": "link_4",
          "label": "Link collection 4"
        },
        {
          "type": "text",
          "id": "name_collec_5",
          "label": "Title collection 5",
          "default": "Denim Collection"
        },
        {
          "type": "url",
          "id": "link_5",
          "label": "Link collection 5"
        },
        {
          "type": "header",
          "content": "Block Product Slider"
        },
        {
          "type": "checkbox",
          "id": "product_enable",
          "label": "Enable product"
        },
        {
          "type": "select",
          "id": "product_xl",
          "label": "Width on megamenu large desktop 1200px ↑",
          "default": "col-xl-4",
          "options": [
            { "value": "col-xl-1", "label": "1/12" },
            { "value": "col-xl-2", "label": "2/12" },
            { "value": "col-xl-3", "label": "3/12" },
            { "value": "col-xl-4", "label": "4/12" },
            { "value": "col-xl-5", "label": "5/12" },
            { "value": "col-xl-6", "label": "6/12" },
            { "value": "col-xl-7", "label": "7/12" },
            { "value": "col-xl-8", "label": "8/12" },
            { "value": "col-xl-9", "label": "9/12" },
            { "value": "col-xl-10", "label": "10/12" },
            { "value": "col-xl-11", "label": "11/12" },
            { "value": "col-xl-12", "label": "12/12" }
          ]
        },
        {
          "type": "select",
          "id": "product_lg",
          "label": "Width on megamenu desktop 992px ↑",
          "default": "col-lg-4",
          "options": [
            { "value": "col-lg-1", "label": "1/12" },
            { "value": "col-lg-2", "label": "2/12" },
            { "value": "col-lg-3", "label": "3/12" },
            { "value": "col-lg-4", "label": "4/12" },
            { "value": "col-lg-5", "label": "5/12" },
            { "value": "col-lg-6", "label": "6/12" },
            { "value": "col-lg-7", "label": "7/12" },
            { "value": "col-lg-8", "label": "8/12" },
            { "value": "col-lg-9", "label": "9/12" },
            { "value": "col-lg-10", "label": "10/12" },
            { "value": "col-lg-11", "label": "11/12" },
            { "value": "col-lg-12", "label": "12/12" }
          ]
        },
        {
          "type": "text",
          "id": "title_product",
          "label": "Title product",
          "default": "Featured Product"
        },
        {
          "type": "product",
          "id": "product_1",
          "label": "Product 1"
        },
        {
          "type": "product",
          "id": "product_2",
          "label": "Product 2"
        },
        {
          "type": "product",
          "id": "product_3",
          "label": "Product 3"
        },
        {
          "type": "checkbox",
          "id": "autoplay",
          "label": "Auto play",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_dots",
          "label": "Enable dots",
          "default": true
        }
      ]
    },
    {
      "type": "icon_menu",
      "name": "Icon Menu",
      "settings": [
        {
          "type": "text",
          "id": "name_item",
          "label": "Menu item name",
          "info": "Menu item of main-menu. Menu item has dropdown megamenu."
        },
        {
          "type": "image_picker",
          "id": "icon_menus",
          "label": "Icon Menu"
        }
      ]
    }
  ]
}
{% endschema %}
<style>
  #shopify-section-nov-header {
    position: absolute;
    width: 100%;
  }
  .site-header .header-center {
    background-color: {{ section.settings.background_color }};
  }
  .header-mobile {
    background-color: {{ section.settings.background_m }};
  }
  .header-mobile .item-mobile-top {
    color: {{ section.settings.c_icon_m }};
  }
  {% comment %} Custom account action {% endcomment %}
  .block_cart_canvas #_desktop_cart.active {
    display: none !important;
  }
  .sidebar-overlay.act {
    visibility: hidden !important;
  }
  .block_account_canvas.active {
    display: none !important;
  }

  @media(max-width: 767px) {
    #shopify-section-nov-header {
      position: relative;
    }
  }
</style>