{% if section.settings.grid_number_xxl == 5 %}
  {%- assign xxl = 'col-xxl-cus-5' -%}
{% else %}
  {%- assign xxl = 12 | divided_by: section.settings.grid_number_xxl | prepend: 'col-xxl-' -%}
{% endif %}
{% if section.settings.grid_number == 5 %}
  {%- assign xl = 'col-xl-cus-5' -%}
{% else %}
  {%- assign xl = 12 | divided_by: section.settings.grid_number | prepend: 'col-xl-' -%}
{% endif %}
{% if section.settings.grid_number_lg == 5 %}
  {%- assign lg = 'col-lg-cus-5' -%}
{% else %}
  {%- assign lg = 12 | divided_by: section.settings.grid_number_lg | prepend: 'col-lg-' -%}
{% endif %}
{% if section.settings.grid_number_md == 5 %}
  {%- assign md = 'col-md-cus-5' -%}
{% else %}
  {%- assign md = 12 | divided_by: section.settings.grid_number_md | prepend: 'col-md-' -%}
{% endif %}
{% if section.settings.grid_number_sm == 5 %}
  {%- assign sm = 'col-sm-cus-5' -%}
{% else %}
  {%- assign sm = 12 | divided_by: section.settings.grid_number_sm | prepend: 'col-sm-' -%}
{% endif %}
{% if section.settings.grid_number_xs == 5 %}
  {%- assign xs = 'col-xs-cus-5' -%}
{% else %}
  {%- assign xs = 12 | divided_by: section.settings.grid_number_xs | prepend: 'col-' -%}
{% endif %}
{%- assign collection = collections[section.settings.collection] -%}
{%- assign limit = section.settings.limit-%}
{% assign products = collections.handle %}
<div class="distance{% if section.settings.class_section != blank %} {{ section.settings.class_section }}{% endif %}">
    {% if section.settings.has_fullwidth == false %}
        <div class="container">
    {% else %}
        <div class="container-fluid">
    {% endif %}
        <div class="d-flex align-items-center justify-content-between mb-20">
            {% if section.settings.heading != blank %}
                <div class="title_section">
                    <span class="title" style="color: {{ section.settings.heading_c }};">{{ section.settings.heading }}</span>
                    {% if section.settings.subheading != blank %}
                        <span class="sub_title" style="color: {{ section.settings.subheading_c }};">{{ section.settings.subheading }}</span>
                    {% endif %}
                </div>
            {% endif %}
            {% if section.settings.viewall != blank %}
                <a href="{{ section.settings.viewall }}" class="view_all text-uppercase font-700">
                    <i class="zmdi zmdi-more"></i>{{ 'sections.product_loadmore.view_all' | t }}
                </a>
            {% endif %}
        </div>
        
        <div class="row grid--view-items product__loadmore-{{ section.id }}" data-xxl="{{ section.settings.grid_number_xxl }}" data-xl="{{ section.settings.grid_number }}" data-lg="{{ section.settings.grid_number_lg }}" data-md="{{ section.settings.grid_number_md }}" data-sm="{{ section.settings.grid_number_sm }}" data-xs="{{ section.settings.grid_number_xs }}">
            {% paginate collection.products by limit %}
            {% for product in collection.products %}
                <div class="item {{ xxl }} {{ xl }} {{ lg }} {{ md }} {{ sm }} {{ xs }} wow fadeInUp animated">
                {% include 'product-card-grid' %}
                </div>
            {% endfor %}
            {% if paginate.next %}
                <div class="col-12 text-center load-{{ section.id }} mt-45">
                    <div class="btn_loadmore btn {{ section.id }}" btn-handle="{{ section.id }}" link="{{ paginate.next.url }}">{{ 'sections.product_loadmore.loadmore' | t }}</div>
                </div>
            {% endif %}
            {% endpaginate %}
        </div>
        <div class="loading hidden"></div>
    </div>
</div>

{% schema %}
    {
        "name": "Vinova Product Load More",
        "class": "section-product-loadmore",
        "settings":[
            {
                "type": "richtext",
                "id": "heading",
                "label": "Heading",
                "default": "<p>Vinova Product Loadmore</p>"
            },
            {
                "type": "color",
                "id": "heading_c",
                "label": "Heading color",
                "default": "#222222"
            },
            {
                "type": "richtext",
                "id": "subheading",
                "label": "Sub heading",
                "default": "<p>Subtitle from happy customers</p>"
            },
            {
                "type": "color",
                "id": "subheading_c",
                "label": "Sub heading color",
                "default": "#666666"
            },
            {
                "label": "Collection",
                "id": "collection",
                "type": "collection"
            },
            {
                "type": "range",
                "id": "limit",
                "min": 1,
                "max": 20,
                "step": 1,
                "label": "Product items",
                "default": 10
            },
            {
                "type": "color",
                "id": "bg_item",
                "label": "Background colors product items"
            },
            {
                "type":  "header",
                "content": "Product item per row"
            },
            {
                "type": "range",
                "id": "grid_number_xxl",
                "min": 1,
                "max": 6,
                "step": 1,
                "label": "Products per row 1440px ↑",
                "default": 4
            },
            {
                "type": "range",
                "id": "grid_number",
                "min": 1,
                "max": 6,
                "step": 1,
                "label": "Products per row 1200px ↑",
                "default": 4
            },
            {
                "type": "range",
                "id": "grid_number_lg",
                "min": 1,
                "max": 6,
                "step": 1,
                "label": "Products desktop 1199px ↓",
                "default": 4
            },
            {
                "type": "range",
                "id": "grid_number_md",
                "min": 1,
                "max": 6,
                "step": 1,
                "label": "Products per row tablet 991px ↓",
                "default": 4
            },
            {
                "type": "range",
                "id": "grid_number_sm",
                "min": 1,
                "max": 6,
                "step": 1,
                "label": "Products per row mobile 767px ↓",
                "default": 4
            },
            {
                "type": "range",
                "id": "grid_number_xs",
                "min": 1,
                "max": 6,
                "step": 1,
                "label": "Products per row small mobile 575px ↓",
                "default": 1
            },
            {
                "type":  "header",
                "content": "Design option"
            },
            {
                "type": "url",
                "id": "viewall",
                "label": "Link button view all"
            },
            {
                "type": "checkbox",
                "id": "has_fullwidth",
                "label": "Full Width",
                "default":   false
            },
            {
                "type": "color",
                "id": "background_color",
                "label": "Background colors"
            },
            {
                "type": "image_picker",
                "id": "background_image",
                "label": "Background image"
            },
            {
                "type": "text",
                "id": "class",
                "label": "Class"
            },
            {
                "type": "number",
                "id": "distance_top",
                "label": "Top spacing section (px)",
                "default": 30
            },
            {
                "type": "number",
                "id": "distance_bottom",
                "label": "Bottom spacing section (px)",
                "default": 30
            }
        ],
        "presets":[
            {
                "name": "Vinova Product Load More",
                "category": "Collection"
            }
        ]
    }
{% endschema %}
<style>
    #shopify-section-{{ section.id }} .distance {
        padding-top: {{ section.settings.distance_top }}px;
        padding-bottom: {{ section.settings.distance_bottom }}px;
        {%- assign bg_image = section.settings.background_image -%}
        {% if section.settings.background_color != blank %}
            background-color: {{ section.settings.background_color }};
        {% endif %}
        {% if bg_image.src != blank %}
            background-image: url("{{ bg_image | img_url: '1920x' }}");
            background-repeat: no-repeat;
            background-position: center top;
            background-size: cover;
        {% endif %}
    }
    #shopify-section-{{ section.id }} .item-product {
        background-color: {{ section.settings.bg_item }};
        overflow: hidden;
    }
</style>