<div data-section-id="{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="nov-slick">
  <header class="site-header{% if section.settings.stickymenu == true %} sticky-menu{% endif %}">
    <div class="header-mobile d-md-none">
      <div class="d-flex align-items-center">
        {% if section.settings.vertical_menu %}
          <div class="btn_ver color_heading">
            <i class="zmdi zmdi-sort-amount-asc"></i>
          </div>
        {% endif %}
        <div class="mobile_logo">
          {% if section.settings.logo_mobile %}
            <a href="/" class="site-header__logo-image img-fluid">
              {%- assign image_size = section.settings.wm_logo | append: 'x' -%}
              <img
                srcset="{{ section.settings.logo_mobile | img_url: image_size }} 1x, {{ section.settings.logo_mobile | img_url: image_size, scale: 2 }} 2x"
                src="{{ section.settings.logo_mobile | img_url: image_size }}"
                loading="lazy"
                width="{{ section.settings.logo_mobile.width }}"
                height="{{ section.settings.logo_mobile.height }}"
                alt="{{ section.settings.logo_mobile.alt | default: shop.name | escape }}"
                style="height: auto"
              >
            </a>
          {% else %}
            <a class="site-header__logo-link" href="/" itemprop="url">{{ shop.name }}</a>
          {% endif %}
        </div>
        <div id="mobile_search">
          {% include 'nov-formsearch-inline' %}
        </div>
        <div class="d-flex justify-content-end">
          <div id="show-megamenu" class="item-mobile-top"><i class="zmdi zmdi-view-headline"></i></div>
        </div>
      </div>
    </div>
    <div class="header-center d-none d-md-block position-relative">
      <div class="container">
        <div class="row">
          <div class="contentsticky_logo col-xl-1 col-lg-2 col-md-3 d-flex align-items-center p-0">
            <div class="btn_toggle_nav d-lg-none d-md-block">
              <i class="fa fa-bars" aria-hidden="true"></i>
            </div>
            {% if section.settings.logo %}
              <a href="/" class="site-header__logo d-inline-block img-fluid position-relative">
                {%- assign image_size = section.settings.w_logo | append: 'x' -%}
                <img
                  srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
                  src="{{ section.settings.logo | img_url: image_size }}"
                  loading="lazy"
                  width="{{ section.settings.logo.width }}"
                  height="{{ section.settings.logo.height }}"
                  alt="{{ section.settings.logo.alt | default: shop.name | escape }}"
                  style="height: auto;"
                >
              </a>
            {% else %}
              <div class="h2 site-header__logo d-inline-block mb-0 position-relative">
                <a class="site-header__logo-link" href="/" itemprop="url">{{ shop.name }}</a>
              </div>
            {% endif %}
          </div>
          <div class="contentsticky_menu col-xl-7 col-lg-6 col-md-3 text-lg-center position-static">
            <nav id="AccessibleNav">{% include 'site-nav' %}</nav>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6 d-flex align-items-center justify-content-end">
            <div class="search__btn-overlay">
              <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="9.98856" cy="9.98856" r="8.98856" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M16.2402 16.707L19.7643 20.2219" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
            <div class="contentsticky_account">
              {% if settings.account_type == 'dropdown' %}
                <div class="site-header_myaccount dropdown">
                  <div class="myaccount-title dropdown-toggle text-center d-flex" data-toggle="dropdown">
                    <a
                      class="myaccount"
                      href="{{ shop.secure_url }}/account"
                      rel="nofollow"
                      title="{{ 'layout.customer.account' | t }}"
                    >
                      <i class="fa fa-bars" aria-hidden="true"></i>
                    </a>
                  </div>
                  {% include 'nov-block-account' %}
                </div>
              {% else %}
                <div class="site-header_myaccount account_canvas">
                  <div class="myaccount" title="{{ 'layout.customer.account' | t }}">
                    {%- comment -%}<i class="icon-settings"></i>{%- endcomment -%}
                    <svg width="16" height="21" viewBox="0 0 16 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M7.98493 13.5317C4.11731 13.5317 0.814453 14.1165 0.814453 16.4584C0.814453 18.8003 4.09636 19.406 7.98493 19.406C11.8525 19.406 15.1545 18.8203 15.1545 16.4794C15.1545 14.1384 11.8735 13.5317 7.98493 13.5317Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M7.98489 10.1914C10.523 10.1914 12.5801 8.13333 12.5801 5.59524C12.5801 3.05714 10.523 1 7.98489 1C5.44679 1 3.3887 3.05714 3.3887 5.59524C3.38013 8.12476 5.42394 10.1829 7.95251 10.1914H7.98489Z" stroke="white" stroke-width="1.42857" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                  </div>
                </div>
              {% endif %}
            </div>
            <div class="contentsticky_cart">
              <div class="{% if settings.mini_cart_type == 'canvas' %}cart_canvas{% else %}cart_dropdown{% endif %}">
                <div id="cart_block">
                  <div class="header-cart d-flex align-items-center">
                    <div class="site-header__cart">
                      <span class="site-header__cart-icon">
                        <svg width="37" height="35" viewBox="0 0 37 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M13.7729 21.805V18.773C13.7729 16.689 12.0839 15 10.0009 15C7.91694 14.991 6.21994 16.672 6.21094 18.756V18.773V21.805" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M14.7422 33.5004H5.25778C2.90569 33.5004 1 31.5954 1 29.2454V23.7294C1 21.3794 2.90569 19.4744 5.25778 19.4744H14.7422C17.0943 19.4744 19 21.3794 19 23.7294V29.2454C19 31.5954 17.0943 33.5004 14.7422 33.5004Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                          <circle cx="26.5" cy="10.5" r="10.5" fill="#EA7503"/>
                        </svg>
                        <div class="num-cartcount">
                          <span id="CartCount">{{ cart.item_count }}</span>
                        </div>
                      </span>
                      {%- comment -%}
                        <span id="_desktop_cart_count" class="site-header__cart-count">
                          <span id="CartCount">{{ cart.item_count }}</span>
                        </span>
                      {%- endcomment -%}
                    </div>
                  </div>
                  {% if settings.mini_cart_type != 'canvas' -%}
                    <div id="_desktop_cart"><div id="cart-info"></div></div>
                  {%- endif %}
                </div>
              </div>
            </div>
            {% if section.settings.order != blank %}
              <a class="order_btn font-700 text-uppercase" href="{{ section.settings.order_link }}">
                {{- section.settings.order -}}
              </a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  {% if section.settings.stickymenu == true %}
    <div
      id="header-sticky"
      class="d-none d-md-block"
      {% if section.settings.background_color != blank %}
        style="background-color: {{ section.settings.background_color_sticky }};"
      {% endif %}
    >
      <div class="container">
        <div class="bl_content row align-items-center">
          <div class="contentstickynew_logo col-2"></div>
          <div class="contentstickynew_menu col-8 position-static text-center"></div>
          <div class="contentstickynew_cart col-2"></div>
        </div>
      </div>
    </div>
  {% endif %}
</div>
{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "color",
      "id": "background_color",
      "label": "Background colors"
    },
    {
      "type": "color",
      "id": "background_m",
      "label": "Background colors mobile"
    },
    {
      "type": "color",
      "id": "c_icon_m",
      "label": "Color icon header mobile"
    },
    {
      "type": "color",
      "id": "background_color_sticky",
      "label": "Background colors sticky"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo image"
    },
    {
      "type": "number",
      "id": "w_logo",
      "label": "Width logo image (px)",
      "default": 150
    },
    {
      "type": "image_picker",
      "id": "logo_mobile",
      "label": "Logo mobile image"
    },
    {
      "type": "number",
      "id": "wm_logo",
      "label": "Width logo mobile image (px)",
      "default": 100
    },
    {
      "type": "text",
      "id": "order",
      "label": "Button order text"
    },
    {
      "type": "url",
      "id": "order_link",
      "label": "Button order link"
    },
    {
      "type": "header",
      "content": "Sticky header"
    },
    {
      "type": "checkbox",
      "id": "stickymenu",
      "label": "Enable sticky"
    },
    {
      "type": "header",
      "content": "Vinova Menu"
    },
    {
      "type": "checkbox",
      "id": "novmenu_enable",
      "label": "Enable megamenu",
      "info": "Acitve Vinova Menu",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_icons",
      "label": "Enable icon",
      "info": "Acitve Icon Menu",
      "default": true
    },
    {
      "type": "link_list",
      "id": "main_linklist",
      "label": "Menu",
      "default": "main-menu"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Megamenu Item",
      "settings": [
        {
          "type": "text",
          "id": "novmenu_item",
          "label": "Menu item name",
          "info": "Menu item of main-menu. Menu item has dropdown megamenu."
        },
        {
          "type": "text",
          "id": "submenu_width",
          "label": "Submenu width (px)"
        },
        {
          "type": "checkbox",
          "id": "submenu_full_width",
          "label": "Submenu full width"
        },
        {
          "type": "image_picker",
          "id": "icon_menu",
          "label": "Icon menu"
        },
        {
          "type": "image_picker",
          "id": "img_bg",
          "label": "background image for block"
        },
        {
          "type": "header",
          "content": "Block navigation",
          "info": "Admin -> Navigation -> Menu."
        },
        {
          "type": "checkbox",
          "id": "novmenu_menu_enable",
          "label": "Enable navigation"
        },
        {
          "type": "select",
          "id": "novmenu_xl",
          "label": "Width on megamenu large desktop 1200px ↑",
          "default": "col-xl-3",
          "options": [
            { "value": "col-xl-1", "label": "1/12" },
            { "value": "col-xl-2", "label": "2/12" },
            { "value": "col-xl-3", "label": "3/12" },
            { "value": "col-xl-4", "label": "4/12" },
            { "value": "col-xl-5", "label": "5/12" },
            { "value": "col-xl-6", "label": "6/12" },
            { "value": "col-xl-7", "label": "7/12" },
            { "value": "col-xl-8", "label": "8/12" },
            { "value": "col-xl-9", "label": "9/12" },
            { "value": "col-xl-10", "label": "10/12" },
            { "value": "col-xl-11", "label": "11/12" },
            { "value": "col-xl-12", "label": "12/12" }
          ]
        },
        {
          "type": "select",
          "id": "novmenu_lg",
          "label": "Width on megamenu desktop 992px ↑",
          "default": "col-lg-3",
          "options": [
            { "value": "col-lg-1", "label": "1/12" },
            { "value": "col-lg-2", "label": "2/12" },
            { "value": "col-lg-3", "label": "3/12" },
            { "value": "col-lg-4", "label": "4/12" },
            { "value": "col-lg-5", "label": "5/12" },
            { "value": "col-lg-6", "label": "6/12" },
            { "value": "col-lg-7", "label": "7/12" },
            { "value": "col-lg-8", "label": "8/12" },
            { "value": "col-lg-9", "label": "9/12" },
            { "value": "col-lg-10", "label": "10/12" },
            { "value": "col-lg-11", "label": "11/12" },
            { "value": "col-lg-12", "label": "12/12" }
          ]
        },
        {
          "type": "select",
          "id": "submenu_xl",
          "label": "Width fisrt children menu on megamenu large desktop 1200px ↑",
          "default": "col-xl-3",
          "options": [
            { "value": "col-xl-1", "label": "1/12" },
            { "value": "col-xl-2", "label": "2/12" },
            { "value": "col-xl-3", "label": "3/12" },
            { "value": "col-xl-4", "label": "4/12" },
            { "value": "col-xl-5", "label": "5/12" },
            { "value": "col-xl-6", "label": "6/12" },
            { "value": "col-xl-7", "label": "7/12" },
            { "value": "col-xl-8", "label": "8/12" },
            { "value": "col-xl-9", "label": "9/12" },
            { "value": "col-xl-10", "label": "10/12" },
            { "value": "col-xl-11", "label": "11/12" },
            { "value": "col-xl-12", "label": "12/12" }
          ]
        },
        {
          "type": "select",
          "id": "submenu_lg",
          "label": "Width fisrt children menu on megamenu desktop 992px ↑",
          "default": "col-lg-3",
          "options": [
            { "value": "col-lg-1", "label": "1/12" },
            { "value": "col-lg-2", "label": "2/12" },
            { "value": "col-lg-3", "label": "3/12" },
            { "value": "col-lg-4", "label": "4/12" },
            { "value": "col-lg-5", "label": "5/12" },
            { "value": "col-lg-6", "label": "6/12" },
            { "value": "col-lg-7", "label": "7/12" },
            { "value": "col-lg-8", "label": "8/12" },
            { "value": "col-lg-9", "label": "9/12" },
            { "value": "col-lg-10", "label": "10/12" },
            { "value": "col-lg-11", "label": "11/12" },
            { "value": "col-lg-12", "label": "12/12" }
          ]
        },
        {
          "type": "header",
          "content": "Block Banner"
        },
        {
          "type": "header",
          "content": "Block Banner 1"
        },
        {
          "type": "checkbox",
          "id": "novmenu_banner_enable1",
          "label": "Enable Banner 1"
        },
        {
          "type": "select",
          "id": "banner_1_xl",
          "label": "Width on megamenu large desktop 1200px ↑",
          "default": "col-xl-4",
          "options": [
            { "value": "col-xl-1", "label": "1/12" },
            { "value": "col-xl-2", "label": "2/12" },
            { "value": "col-xl-3", "label": "3/12" },
            { "value": "col-xl-4", "label": "4/12" },
            { "value": "col-xl-5", "label": "5/12" },
            { "value": "col-xl-6", "label": "6/12" },
            { "value": "col-xl-7", "label": "7/12" },
            { "value": "col-xl-8", "label": "8/12" },
            { "value": "col-xl-9", "label": "9/12" },
            { "value": "col-xl-10", "label": "10/12" },
            { "value": "col-xl-11", "label": "11/12" },
            { "value": "col-xl-12", "label": "12/12" }
          ]
        },
        {
          "type": "select",
          "id": "banner_1_lg",
          "label": "Width on megamenu desktop 992px ↑",
          "default": "col-lg-4",
          "options": [
            { "value": "col-lg-1", "label": "1/12" },
            { "value": "col-lg-2", "label": "2/12" },
            { "value": "col-lg-3", "label": "3/12" },
            { "value": "col-lg-4", "label": "4/12" },
            { "value": "col-lg-5", "label": "5/12" },
            { "value": "col-lg-6", "label": "6/12" },
            { "value": "col-lg-7", "label": "7/12" },
            { "value": "col-lg-8", "label": "8/12" },
            { "value": "col-lg-9", "label": "9/12" },
            { "value": "col-lg-10", "label": "10/12" },
            { "value": "col-lg-11", "label": "11/12" },
            { "value": "col-lg-12", "label": "12/12" }
          ]
        },
        {
          "type": "text",
          "id": "image_size1",
          "label": "Image Size Banner 1",
          "default": "255x300",
          "info": "[Size parameters](https://help.shopify.com/themes/liquid/filters/url-filters#size-parameters)"
        },
        {
          "type": "image_picker",
          "id": "novmenu_banner1",
          "label": "Banner image"
        },
        {
          "type": "text",
          "id": "novmenu_banner_link1",
          "label": "Banner Link"
        },
        {
          "type": "text",
          "id": "class_bn1",
          "label": "Banner class"
        },
        {
          "type": "header",
          "content": "Block Banner 2"
        },
        {
          "type": "checkbox",
          "id": "novmenu_banner_enable2",
          "label": "Enable Banner 2"
        },
        {
          "type": "select",
          "id": "banner_2_xl",
          "label": "Width on megamenu large desktop 1200px ↑",
          "default": "col-xl-4",
          "options": [
            { "value": "col-xl-1", "label": "1/12" },
            { "value": "col-xl-2", "label": "2/12" },
            { "value": "col-xl-3", "label": "3/12" },
            { "value": "col-xl-4", "label": "4/12" },
            { "value": "col-xl-5", "label": "5/12" },
            { "value": "col-xl-6", "label": "6/12" },
            { "value": "col-xl-7", "label": "7/12" },
            { "value": "col-xl-8", "label": "8/12" },
            { "value": "col-xl-9", "label": "9/12" },
            { "value": "col-xl-10", "label": "10/12" },
            { "value": "col-xl-11", "label": "11/12" },
            { "value": "col-xl-12", "label": "12/12" }
          ]
        },
        {
          "type": "select",
          "id": "banner_2_lg",
          "label": "Width on megamenu desktop 992px ↑",
          "default": "col-lg-4",
          "options": [
            { "value": "col-lg-1", "label": "1/12" },
            { "value": "col-lg-2", "label": "2/12" },
            { "value": "col-lg-3", "label": "3/12" },
            { "value": "col-lg-4", "label": "4/12" },
            { "value": "col-lg-5", "label": "5/12" },
            { "value": "col-lg-6", "label": "6/12" },
            { "value": "col-lg-7", "label": "7/12" },
            { "value": "col-lg-8", "label": "8/12" },
            { "value": "col-lg-9", "label": "9/12" },
            { "value": "col-lg-10", "label": "10/12" },
            { "value": "col-lg-11", "label": "11/12" },
            { "value": "col-lg-12", "label": "12/12" }
          ]
        },
        {
          "type": "text",
          "id": "image_size2",
          "label": "Image size banner 2",
          "default": "255x300",
          "info": "[Size parameters](https://help.shopify.com/themes/liquid/filters/url-filters#size-parameters)"
        },
        {
          "type": "image_picker",
          "id": "novmenu_banner2",
          "label": "Banner image"
        },
        {
          "type": "text",
          "id": "novmenu_banner_link2",
          "label": "Banner link"
        },
        {
          "type": "text",
          "id": "class_bn2",
          "label": "Banner class"
        },
        {
          "type": "header",
          "content": "Block Banner 3"
        },
        {
          "type": "checkbox",
          "id": "novmenu_banner_enable3",
          "label": "Enable banner 3"
        },
        {
          "type": "select",
          "id": "banner_3_xl",
          "label": "Width on megamenu large desktop 1200px ↑",
          "default": "col-xl-4",
          "options": [
            { "value": "col-xl-1", "label": "1/12" },
            { "value": "col-xl-2", "label": "2/12" },
            { "value": "col-xl-3", "label": "3/12" },
            { "value": "col-xl-4", "label": "4/12" },
            { "value": "col-xl-5", "label": "5/12" },
            { "value": "col-xl-6", "label": "6/12" },
            { "value": "col-xl-7", "label": "7/12" },
            { "value": "col-xl-8", "label": "8/12" },
            { "value": "col-xl-9", "label": "9/12" },
            { "value": "col-xl-10", "label": "10/12" },
            { "value": "col-xl-11", "label": "11/12" },
            { "value": "col-xl-12", "label": "12/12" }
          ]
        },
        {
          "type": "select",
          "id": "banner_3_lg",
          "label": "Width on megamenu desktop 992px ↑",
          "default": "col-lg-4",
          "options": [
            { "value": "col-lg-1", "label": "1/12" },
            { "value": "col-lg-2", "label": "2/12" },
            { "value": "col-lg-3", "label": "3/12" },
            { "value": "col-lg-4", "label": "4/12" },
            { "value": "col-lg-5", "label": "5/12" },
            { "value": "col-lg-6", "label": "6/12" },
            { "value": "col-lg-7", "label": "7/12" },
            { "value": "col-lg-8", "label": "8/12" },
            { "value": "col-lg-9", "label": "9/12" },
            { "value": "col-lg-10", "label": "10/12" },
            { "value": "col-lg-11", "label": "11/12" },
            { "value": "col-lg-12", "label": "12/12" }
          ]
        },
        {
          "type": "text",
          "id": "image_size3",
          "label": "Image size banner 3",
          "default": "255x300",
          "info": "[Size parameters](https://help.shopify.com/themes/liquid/filters/url-filters#size-parameters)"
        },
        {
          "type": "image_picker",
          "id": "novmenu_banner3",
          "label": "Banner image"
        },
        {
          "type": "text",
          "id": "novmenu_banner_link3",
          "label": "Banner link"
        },
        {
          "type": "text",
          "id": "class_bn3",
          "label": "Banner class"
        },
        {
          "type": "header",
          "content": "Block Collection List"
        },
        {
          "type": "checkbox",
          "id": "collection_enable",
          "label": "Enable block collection"
        },
        {
          "type": "select",
          "id": "collection_xl",
          "label": "Width on megamenu large desktop 1200px ↑",
          "default": "col-xl-3",
          "options": [
            { "value": "col-xl-1", "label": "1/12" },
            { "value": "col-xl-2", "label": "2/12" },
            { "value": "col-xl-3", "label": "3/12" },
            { "value": "col-xl-4", "label": "4/12" },
            { "value": "col-xl-5", "label": "5/12" },
            { "value": "col-xl-6", "label": "6/12" },
            { "value": "col-xl-7", "label": "7/12" },
            { "value": "col-xl-8", "label": "8/12" },
            { "value": "col-xl-9", "label": "9/12" },
            { "value": "col-xl-10", "label": "10/12" },
            { "value": "col-xl-11", "label": "11/12" },
            { "value": "col-xl-12", "label": "12/12" }
          ]
        },
        {
          "type": "select",
          "id": "collection_lg",
          "label": "Width on megamenu desktop 992px ↑",
          "default": "col-lg-3",
          "options": [
            { "value": "col-lg-1", "label": "1/12" },
            { "value": "col-lg-2", "label": "2/12" },
            { "value": "col-lg-3", "label": "3/12" },
            { "value": "col-lg-4", "label": "4/12" },
            { "value": "col-lg-5", "label": "5/12" },
            { "value": "col-lg-6", "label": "6/12" },
            { "value": "col-lg-7", "label": "7/12" },
            { "value": "col-lg-8", "label": "8/12" },
            { "value": "col-lg-9", "label": "9/12" },
            { "value": "col-lg-10", "label": "10/12" },
            { "value": "col-lg-11", "label": "11/12" },
            { "value": "col-lg-12", "label": "12/12" }
          ]
        },
        {
          "type": "text",
          "id": "name_collec_1",
          "label": "Title collection 1",
          "default": "Best Sellers"
        },
        {
          "type": "url",
          "id": "link_1",
          "label": "Link collection 1"
        },
        {
          "type": "text",
          "id": "name_collec_2",
          "label": "Title collection 2",
          "default": "New Arrival"
        },
        {
          "type": "url",
          "id": "link_2",
          "label": "Link collection 2"
        },
        {
          "type": "text",
          "id": "name_collec_3",
          "label": "Title collection 3",
          "default": "Top Trending"
        },
        {
          "type": "url",
          "id": "link_3",
          "label": "Link collection 3"
        },
        {
          "type": "text",
          "id": "name_collec_4",
          "label": "Title collection 4",
          "default": "Top Trending"
        },
        {
          "type": "url",
          "id": "link_4",
          "label": "Link collection 4"
        },
        {
          "type": "text",
          "id": "name_collec_5",
          "label": "Title collection 5",
          "default": "Denim Collection"
        },
        {
          "type": "url",
          "id": "link_5",
          "label": "Link collection 5"
        },
        {
          "type": "header",
          "content": "Block Product Slider"
        },
        {
          "type": "checkbox",
          "id": "product_enable",
          "label": "Enable product"
        },
        {
          "type": "select",
          "id": "product_xl",
          "label": "Width on megamenu large desktop 1200px ↑",
          "default": "col-xl-4",
          "options": [
            { "value": "col-xl-1", "label": "1/12" },
            { "value": "col-xl-2", "label": "2/12" },
            { "value": "col-xl-3", "label": "3/12" },
            { "value": "col-xl-4", "label": "4/12" },
            { "value": "col-xl-5", "label": "5/12" },
            { "value": "col-xl-6", "label": "6/12" },
            { "value": "col-xl-7", "label": "7/12" },
            { "value": "col-xl-8", "label": "8/12" },
            { "value": "col-xl-9", "label": "9/12" },
            { "value": "col-xl-10", "label": "10/12" },
            { "value": "col-xl-11", "label": "11/12" },
            { "value": "col-xl-12", "label": "12/12" }
          ]
        },
        {
          "type": "select",
          "id": "product_lg",
          "label": "Width on megamenu desktop 992px ↑",
          "default": "col-lg-4",
          "options": [
            { "value": "col-lg-1", "label": "1/12" },
            { "value": "col-lg-2", "label": "2/12" },
            { "value": "col-lg-3", "label": "3/12" },
            { "value": "col-lg-4", "label": "4/12" },
            { "value": "col-lg-5", "label": "5/12" },
            { "value": "col-lg-6", "label": "6/12" },
            { "value": "col-lg-7", "label": "7/12" },
            { "value": "col-lg-8", "label": "8/12" },
            { "value": "col-lg-9", "label": "9/12" },
            { "value": "col-lg-10", "label": "10/12" },
            { "value": "col-lg-11", "label": "11/12" },
            { "value": "col-lg-12", "label": "12/12" }
          ]
        },
        {
          "type": "text",
          "id": "title_product",
          "label": "Title product",
          "default": "Featured Product"
        },
        {
          "type": "product",
          "id": "product_1",
          "label": "Product 1"
        },
        {
          "type": "product",
          "id": "product_2",
          "label": "Product 2"
        },
        {
          "type": "product",
          "id": "product_3",
          "label": "Product 3"
        },
        {
          "type": "checkbox",
          "id": "autoplay",
          "label": "Auto play",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_dots",
          "label": "Enable dots",
          "default": true
        }
      ]
    },
    {
      "type": "icon_menu",
      "name": "Icon Menu",
      "settings": [
        {
          "type": "text",
          "id": "name_item",
          "label": "Menu item name",
          "info": "Menu item of main-menu. Menu item has dropdown megamenu."
        },
        {
          "type": "image_picker",
          "id": "icon_menus",
          "label": "Icon Menu"
        }
      ]
    }
  ]
}
{% endschema %}
<style>
  .site-header .header-center {
    background-color: {{ section.settings.background_color }};
  }
  .header-mobile {
    background-color: {{ section.settings.background_m }};
  }
  .header-mobile .item-mobile-top {
    color: {{ section.settings.c_icon_m }};
  }
</style>
