{%- assign limit = 8 -%}
{% paginate search.results by limit %}
  <div class="page-search">
    {% if settings.breadcrumbs_enable %}
      <section id="NovBreadcrumbs">
        <div class="container">
          {% if search.results_count == 0 or search.performed == false %}
            <h1 class="headingPage d-flex {{ settings.title_alignment }}">{{ 'general.search.no_results_title' | t }}</h1>
          {% else %}
            <h1 class="headingPage d-flex {{ settings.title_alignment }}">{{ 'general.search.results_with_count' | t: terms: search.terms, count: search.results_count }}</h1>
          {% endif %}
        </div>
      </section>
    {% endif %}
    <div class="container">
      {% if search.performed and search.results_count == 0 %}
        <h1 class="text-center mt-100 mb-100 pt-50 pb-50 color_heading">{{ 'general.search.no_results_html' | t: terms: search.terms }}</h1>
      {% endif %}
      {% if search.performed and search.results_count != 0 %}
        <div class="grid--view-items row mt-80 spacing-sm-10">
          {% for item in search.results %}
              {% if item.object_type == 'product' %}
                <div class="col-lg-3 col-md-4 col-6">
                  {% include 'product-card-grid', product: item %}
                </div>
              {% else %}
                {% if item.image %}
                  <div class="list-view-item__image-column w-50 w-xs-100 pr-15 pl-0 pr-xs-0 pl-xs-0">
                    <div class="list-view-item__image-wrapper mb-xs-25">
                      <img class="list-view-item__image" src="{{ item.image.src | img_url: '600x600' }}" alt="{{ item.image.alt | escape }}">
                    </div>
                  </div>
                {% endif %}
                <div class="list-view-item__title-column">
                  <h2 class="list-view-item__title">{{ item.title }}</h2>
                  <div class="">
                    {% if item.published_at %}{{ item.published_at | date: "%b %d, %Y" }} &#8212; {% endif %}
                    {{ item.content | strip_html | truncate: 200 }}
                  </div>
                </div>
              {% endif %}
            </a>
          {% endfor %}
        </div>
        {% if paginate.pages > 1 %}
          <div class="nov-pagination d-flex align-items-center">
            {% include 'pagination' %}
          </div>
        {% endif %}
      {% endif %}
    </div>
  </div>
{% endpaginate %}
<style>
  {%- assign bg_image = settings.background_image -%}
  {% if settings.overlay_opacity == true %}
  #NovBreadcrumbs::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, {{ settings.image_overlay_opacity }}%);
  }
  {% endif %}
  #NovBreadcrumbs {
    padding-top: {{ settings.distance_top }};
    padding-bottom: {{ settings.distance_bottom }};
    {% if settings.background_color != blank %}
    background-color: {{ settings.background_color }};
    {% endif %}
    {% if bg_image.src != blank %}
    background-image: url("{{ bg_image | img_url: '1920x' }}");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    {% endif %}
  }
  #NovBreadcrumbs .breadcrumb .list-inline-item a, #NovBreadcrumbs .breadcrumb .list-inline-item, #NovBreadcrumbs .headingPage {
    color: {{ settings.color_text_head }};
  }
</style>



